had to change full disk access to allow terminal

credit: https://medium.com/@yaskalidis/heres-how-you-can-access-your-entire-imessage-history-on-your-mac-f8878276c6e9

In [74]:
import sqlite3
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
import re

# get contacts dataframe

In [97]:
address_book_location = "/Users/joycehu/Library/Application Support/AddressBook/Sources/B470B8FA-DC30-4089-8B50-645AD77679C6/AddressBook-v22.abcddb"
conn_add = sqlite3.connect(address_book_location)
cursor = conn_add.cursor()


cursor.execute("SELECT DISTINCT ZABCDRECORD.ZFIRSTNAME [FIRST NAME], ZABCDRECORD.ZLASTNAME [LAST NAME], ZABCDPHONENUMBER.ZFULLNUMBER [FULL NUMBER] FROM ZABCDRECORD LEFT JOIN ZABCDPHONENUMBER ON ZABCDRECORD.Z_PK = ZABCDPHONENUMBER.ZOWNER ORDER BY ZABCDRECORD.ZLASTNAME, ZABCDRECORD.ZFIRSTNAME, ZABCDPHONENUMBER.ZORDERINGINDEX ASC")
result_set = cursor.fetchall()

result_set

contacts = pd.DataFrame(result_set, columns=['first', 'last', 'number'])
contacts

          first   last          number
0          None   None            None
1          None   None  (925) 818-8151
2          None   None  (925) 330-3093
3          None   None      5105851263
4          None   None  (408) 656-8727
..          ...    ...             ...
245      audrey    lee    +14088139475
246       katie  short  (513) 808-3540
247       ellie   wang    +17149320311
248      joanne    yen    +16263227484
249  Tony's Dad     ÁéãÈÅ†  (510) 386-0315

[250 rows x 3 columns]

In [81]:
contacts.dropna(subset=['number'])

          first   last          number
1          None   None  (925) 818-8151
2          None   None  (925) 330-3093
3          None   None      5105851263
4          None   None  (408) 656-8727
5          None   None      4085544790
..          ...    ...             ...
245      audrey    lee    +14088139475
246       katie  short  (513) 808-3540
247       ellie   wang    +17149320311
248      joanne    yen    +16263227484
249  Tony's Dad     ÁéãÈÅ†  (510) 386-0315

[246 rows x 3 columns]

In [80]:
contacts['number'].isna().sum()

4

## Clean contacts df

In [91]:
contacts

1
2
3
4
5
          ...
245        audrey
246         katie
247         ellie
248        joanne
249    Tony's Dad
Name: first, Length: 246, dtype: object

In [99]:
'''
cleans numbers and puts them in the same format as numbers in handle df
'''
def standard_numbers(phone_number): 
    # remove all non-numeric characters
    numeric_number = re.sub(r'\D', '', phone_number)
    if len(numeric_number) == 10:
        numeric_number = "+1" + numeric_number
    if len(numeric_number) == 11:
        numeric_number = "+" + numeric_number
    return numeric_number
    
contacts = contacts.dropna(subset=['number'])
contacts['first'] = contacts['first'].fillna('')
contacts['last'] = contacts['last'].fillna('')
contacts['numbers_cleaned'] = contacts['number'].apply(standard_numbers)
contacts['full_name'] = contacts['first'] + ' ' + contacts['last']

contacts

          first   last          number numbers_cleaned      full_name
1                       (925) 818-8151    +19258188151
2                       (925) 330-3093    +19253303093
3                           5105851263    +15105851263
4                       (408) 656-8727    +14086568727
5                           4085544790    +14085544790
..          ...    ...             ...             ...            ...
245      audrey    lee    +14088139475    +14088139475     audrey lee
246       katie  short  (513) 808-3540    +15138083540    katie short
247       ellie   wang    +17149320311    +17149320311     ellie wang
248      joanne    yen    +16263227484    +16263227484     joanne yen
249  Tony's Dad     ÁéãÈÅ†  (510) 386-0315    +15103860315  Tony's Dad ÁéãÈÅ†

[246 rows x 5 columns]

In [67]:
handles[~handles['id'].str.contains('\+1')]['id'].unique()

array(['ballerina.eternity@gmail.com', 'beautyinsight@yahoo.com',
       'oceanhu@yahoo.com', 'gingerhusunny@gmail.com',
       'christopher_z@icloud.com', 'joyce', 'anannya.desh@gmail.com',
       'info@orders.apple.com', 'notserena00@gmail.com', '692632',
       'gasdunertadoxey254@gmail.com', '346637', '78156', '347268',
       '45347', '1113114', '729725', '386732', '242733', '24273',
       'narsingdilawcollege@gmail.com', '46395', '86278',
       'mdabuhanif764479@gmail.com', '25392', '88683', '46339',
       'sinclairsoulia15314@hotmail.com', '26797',
       'sadiasultana04121996@gmail.com', '36246', '89361', '51592',
       '77598', '2865', 'janineee.j9@icloud.com', '83992',
       'hallanthonypwve63798@gmail.com', '1410100004',
       'helenandclara@gmail.com', '53744', '80260',
       'coreentylohggf2397@hotmail.com', '23393', 'ihossaen82@gmail.com',
       '75140', 'moynaakter7722@gmail.com', '1410100005',
       'solfmcfallzm1069@hotmail.com', '83342',
       'crisluttmerdeda1@hotmail.com', 'nasrinakter1995.pmh@gmail.com',
       'fatamakhatun843@gmail.com', 'mahaburkcp@gmail.com',
       'lucilemvanhoutoo0310@hotmail.com', 'eemilyjcao@gmail.com',
       'volskaya2000@gmail.com', '87844', 'asarejoane@gmail.com',
       'marthadaniela8584@gmail.com', '1410200502', '776836', '262966',
       '44398', '2866', 'chalicelabeau34934@hotmail.com', '+886975485144',
       'martaouhohneee2035@hotmail.com', '1410100006', '74454', '68494',
       'shorif38198@gmail.com', 'jeromyedie801@gmail.com',
       'anyassadamibrahim@gmail.com', 'kbrown11@alumno.uned.es',
       'fmmn18191242@outlook.com', 'washiraya0966@gmail.com', '2869',
       'oletatgossihx3481@hotmail.com', '87102', '22395', '1410100007',
       '1410100008', 'jamielmittenfa8295@hotmail.com', '242600', '22000',
       '95246', '1410100009', 'hughrosado024d7@hotmail.com', '57840',
       '55496', '77259', '72975',
       '1-888-280-434121@amzn-custservice.car2nd.me', '2864',
       'anaphillips198196@gmail.com', 'roncampbell4252@gmail.com',
       '738245', '1410200503', '1410200504', '1410200505', '888555',
       '1410100010', '99217', '1410100011', '70756', 'logihu@icloud.com',
       '83913', '9448', '+886905304231', '8584445249', '0928000223',
       '0911518067', '0911515514', '0911516636', 'francis5shen@gmail.com',
       '+886955506581', '0911510084', '0911518309', '0911517779', '73752',
       "pp_001-247-779-3739.cs-us----------'29yt19pf8@3uo9gozlzz3kdze3olz3.org",
       're.allowsourmembers-toaccess-willcontinue.tmiolwaigh7024-797eaxs@mngcimbbkn17.net',
       'maildssx.1-349-211-1893.mobile-ntflxnetacws3436clerrdjw39f0d966j@tehtubruk.org',
       '87593', 'mollyrose910@gmail.com', '88811', '74262',
       'elliekwang@icloud.com', 'downslynnd@gmail.com', '1111340061',
       'atriiacf3275@hotmail.com', '30368', '32318', '+886188',
       '0935120188', '48737', '76491', '74843',
       'klkbz204@gxvv.cngoogle.site', '57513', '68382', '40404', '72422',
       '28777', '87212', '60682', '2860',
       'no-reply.upspercelid-l0leh@mail1-ups.com', '25161', '83372',
       '50472', '78008', '79808', '46373', '227898', '41021', '60969',
       'leop1nunez@hotmail.com'], dtype=object)

# get messages dataframe

messages table: contains text messages and relevant info, stores the sender as handle_id
handle table: contains "id" column that contains messager's phone number and corresponding handle_id as "ROWID"

In [3]:
conn = sqlite3.connect('/Users/joycehu/Library/Messages/chat.db')
cur = conn.cursor()

# get handles df
handles = pd.read_sql_query("select * from handle", conn)
handles.head()

,ROWID,id,country,service,uncanonicalized_id,person_centric_id
0,1,+15107378796,US,iMessage,None,c1b59049-da23-476e-aebb-b2e812e48ace
1,2,+15105094802,US,iMessage,None,695bc869-6313-4c1f-b0fe-b9ce9e748742
2,3,+15107095002,US,iMessage,5107095002,0d542d99-cbf5-4254-8c2c-0a929173c7da
3,4,+15107095003,US,iMessage,None,5186b1b7-8016-41db-97d2-130f245f2415
4,5,+16197464242,US,iMessage,None,a5322507-1b30-431d-9ce5-f379526e232a

In [49]:
# get messages

# rowid, text, handle_id, subject, service, date, date_read, date_delivered, is_audio_message, group_title
keep_cols = ['ROWID', 'text', 'handle_id', 'subject', 'service', 'date', 'is_audio_message', 'group_title']

# Construct the SQL query with the specified columns
query = f'''
    SELECT {', '.join(keep_cols)},
           datetime(date/1000000000 + strftime("%s", "2001-01-01"), "unixepoch", "localtime") AS date_utc
    FROM message
'''

messages = pd.read_sql_query(query, conn)
messages

,ROWID,text,handle_id,subject,service,date,is_audio_message,group_title,date_utc
0,1,If haley send cc to my house over the next few...,1,None,iMessage,567238093000000000,0,None,2018-12-22 22:08:13
1,2,Okok got it,1,None,iMessage,567238246000000000,0,None,2018-12-22 22:10:46
2,3,ÔøºÔøºÔøºÔøº,2,None,iMessage,567486800000000000,0,None,2018-12-25 19:13:20
3,4,üòâ,2,None,iMessage,567487648000000000,0,None,2018-12-25 19:27:28
4,5,https://spice.fsi.stanford.edu/fellowship/chin...,3,None,iMessage,567926776000000000,0,None,2018-12-30 21:26:16
...,...,...,...,...,...,...,...,...,...
174327,175616,None,59,None,iMessage,725498345848999936,0,None,2023-12-28 15:19:05
174328,175617,lol,59,None,iMessage,725500053083445120,0,None,2023-12-28 15:47:33
174329,175618,Didn‚Äôt ur mom do art,59,None,iMessage,725500057198278400,0,None,2023-12-28 15:47:37
174330,175619,Same girl?,508,None,iMessage,725500098169796736,0,None,2023-12-28 15:48:18
174331,175620,Maybe first girl was a hater,508,None,iMessage,725500108909485824,0,None,2023-12-28 15:48:28

In [14]:
handles[handles['ROWID'] == 508]

,ROWID,id,country,service,uncanonicalized_id,person_centric_id
505,508,+18582302657,US,iMessage,None,3b3b1944-e0e2-479b-bca4-111a89c639c5

messages columns to keep: 

rowid, text, handle_id, subject, service, date, date_read, date_delivered, is_audio_message, group_title

In [10]:
messages = pd.read_sql_query("select * from message", conn)
messages

,ROWID,guid,text,replace,service_center,handle_id,subject,country,attributedBody,version,...,syndication_ranges,was_delivered_quietly,did_notify_recipient,synced_syndication_ranges,date_retracted,date_edited,was_detonated,part_count,is_stewie,is_kt_verified
0,1,B6E22420-1255-4642-9CAB-F646FC568C00,If haley send cc to my house over the next few...,0,None,1,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
1,2,93F3F991-002E-43FB-B128-DA43F5D7ABC7,Okok got it,0,None,1,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
2,3,C62EB0E4-F138-4FE2-9220-8E656685DFC6,ÔøºÔøºÔøºÔøº,0,None,2,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
3,4,9957C675-F9D8-48B2-AAFD-BC2985E00942,üòâ,0,None,2,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
4,5,D1AE6D88-2933-4820-AD4F-B2B39791A306,https://spice.fsi.stanford.edu/fellowship/chin...,0,None,3,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174327,175616,944A0223-1E1F-40E8-A07F-D54CC8DC2049,None,0,None,59,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174328,175617,B449CA77-C1E2-46A8-9F33-6CE1D114666B,lol,0,None,59,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174329,175618,9A556659-9B82-468F-AF85-DD5E95CA6DD5,Didn‚Äôt ur mom do art,0,None,59,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174330,175619,177B3446-E0F9-408D-BDE2-EB2DEC3E62A6,Same girl?,0,None,508,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174331,175620,329CBF70-C46C-45BD-AAA5-2832093F58B8,Maybe first girl was a hater,0,None,508,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0

In [9]:
# get the handles to apple-id mapping table
handles = pd.read_sql_query("select * from handle", conn)
# and join to the messages, on handle_id
messages.rename(columns={'ROWID' : 'message_id'}, inplace = True)
handles.rename(columns={'id' : 'phone_number', 'ROWID': 'handle_id'}, inplace = True)
merge_level_1 = temp = pd.merge(messages[['text', 'handle_id', 'date','is_sent', 'message_id']],  handles[['handle_id', 'phone_number']], on ='handle_id', how='left')

In [10]:
# get the chat to message mapping
chat_message_joins = pd.read_sql_query("select * from chat_message_join", conn)
# and join back to the merge_level_1 table
df_messages = pd.merge(merge_level_1, chat_message_joins[['chat_id', 'message_id']], on = 'message_id', how='left')

In [11]:
df_messages

,text,handle_id,date,is_sent,message_id,phone_number,chat_id
0,If haley send cc to my house over the next few...,1,567238093000000000,1,1,+15107378796,1.0
1,Okok got it,1,567238246000000000,0,2,+15107378796,1.0
2,ÔøºÔøºÔøºÔøº,2,567486800000000000,1,3,+15105094802,2.0
3,üòâ,2,567487648000000000,0,4,+15105094802,2.0
4,https://spice.fsi.stanford.edu/fellowship/chin...,3,567926776000000000,1,5,+15107095002,3.0
5,None,3,568085941000000000,0,6,+15107095002,NaN
6,None,3,568085941000000000,0,7,+15107095002,NaN
7,None,3,568085941000000000,0,8,+15107095002,NaN
8,Ôøº,3,568085941000000000,0,9,+15107095002,4.0
9,Where is that,2,568085996000000000,0,10,+15105094802,4.0

In [6]:
messages['handle_id'].unique()

array([1, 2, 3])

In [35]:
address_book_location = "/Users/joycehu/Library/Application Support/AddressBook/Sources/B470B8FA-DC30-4089-8B50-645AD77679C6/AddressBook-v22.abcddb"
conn_add = sqlite3.connect(address_book_location)
cursor = conn_add.cursor()


cursor.execute("SELECT DISTINCT ZABCDRECORD.ZFIRSTNAME [FIRST NAME], ZABCDRECORD.ZLASTNAME [LAST NAME], ZABCDPHONENUMBER.ZFULLNUMBER [FULL NUMBER] FROM ZABCDRECORD LEFT JOIN ZABCDPHONENUMBER ON ZABCDRECORD.Z_PK = ZABCDPHONENUMBER.ZOWNER ORDER BY ZABCDRECORD.ZLASTNAME, ZABCDRECORD.ZFIRSTNAME, ZABCDPHONENUMBER.ZORDERINGINDEX ASC")
result_set = cursor.fetchall()

result_set

[(None, None, None),
 (None, None, '(925) 818-8151'),
 (None, None, '(925) 330-3093'),
 (None, None, '5105851263'),
 (None, None, '(408) 656-8727'),
 (None, None, '4085544790'),
 (None, None, '5102726600'),
 (None, None, '5106619956'),
 (None, None, '+14254295300'),
 ('AJ', None, '+14025415566'),
 ('Addie', None, '+18582429646'),
 ('Amriel', None, '+16195047072'),
 ('Anais', None, '(510) 455-0703'),
 ('Angela', None, '+14087864910'),
 ('Angie', None, '+1 (805) 895-3815'),
 ('Anna', None, '+19512169482'),
 ('Ashley', None, '+16613199084'),
 ('Ashvi', None, '1 (408) 306-6046'),
 ('Azul', None, '(510) 359-8785'),
 ('Bekah', None, '+15103661021'),
 ('Bianca', None, '+15059107676'),
 ('Bridgette', None, '(510) 322-4309'),
 ('Bryan', None, '+15597879750'),
 ('Canela', None, '+15103292363'),
 ('Carlos', None, '+19252093727'),
 ('Cassidy FMPH', None, '+18183714154'),
 ('Chanyoung', None, '+14085804830'),
 ('Charlotte', None, '+18587059418'),
 ('Christine', None, '(408) 425-1631'),
 ('Coves', None, '+17146038467'),
 ('Dani', None, '+15106406223'),
 ('Diana', None, '(510) 857-2739'),
 ('Doreen ÈòøÂß®', None, '5103640131'),
 ('Eddieüíõüíõüíõ', None, '1 (510) 438-9395'),
 ('Erika', None, '+19519700981'),
 ('Esha', None, '(510) 598-6269'),
 ('Ghania', None, '+15104178890'),
 ('Gil', None, '+14083868321'),
 ('Giselle', None, '+13236168313'),
 ('Heeyoung', None, '+16022844675'),
 ('Henry', None, '+15105986378'),
 ('Hunter', None, '+17147437722'),
 ('Isana', None, '+14127365377'),
 ('Itzel', None, '(510) 990-5283'),
 ("Jake's Dad", None, '+14088592562'),
 ('Janelle', None, '+15103042098'),
 ('Jay', None, '(408) 209-6052'),
 ('Jen', None, '+13107048616'),
 ('Jessica', None, '+15103860642'),
 ('Jordan', None, '+17146034868'),
 ('Justin', None, '+18582411106'),
 ('Kyle', None, '+18182948708'),
 ('Lauren', None, '+18583195749'),
 ('Lela', None, '+14236354336'),
 ('Lenette', None, '+18584374482'),
 ('Lillian', None, '+17144683575'),
 ('Lisa', None, '+18582919114'),
 ('Lois', None, '+17472187278'),
 ('Maansa', None, '+14085058255'),
 ('Mandy', None, '(408) 835-2060'),
 ('Mariana', None, '+16192894743'),
 ('Mark', None, '+15104681932'),
 ('Marlene', None, '+15102286891'),
 ('Marlo', None, '(714) 496-4702'),
 ('Megha', None, '+14254295330'),
 ("Michelle's Dad", None, '(510) 367-5098'),
 ('Mika', None, '(408) 314-9785'),
 ('Mika', None, '1 (408) 334-6388'),
 ('Milagro', None, '(704) 460-5846'),
 ('Mr Yang', None, '+15103663062'),
 ('Natalie', None, '(323) 618-8888'),
 ("Quentin's Mom", None, '4087866480'),
 ('Rachel', None, '+15108272351'),
 ('Riya', None, '+15107704708'),
 ('Rohan', None, '+15104499011'),
 ('Rosalynn', None, '+15103865942'),
 ('Rueben', None, '+12088134082'),
 ('Ryan', None, '(408) 660-6652'),
 ("Ryan's Mom Sherrie", None, '(847) 899-3248'),
 ('SDHS Foster Center', None, '+16192091599'),
 ('Shakthis Father LOLOL', None, '+15106486156'),
 ('Sharon', None, '+14084210941'),
 ('Tyalla', None, '+14082042212'),
 ('Vanessa', None, '+15054898602'),
 ('Vanessa', None, '+18183705543'),
 ('Viki', None, '+18322763659'),
 ('Zainab', None, '+1 (510) 474-2979'),
 ('cat vet', None, '2623493204'),
 ('chloe', None, '(805) 201-8834'),
 ('dorothy', None, '+18183958728'),
 ('eli', None, '(213) 248-8329'),
 ('leila', None, '(818) 540-8712'),
 ('sdhs cat vet i think', None, '6192795085'),
 ('sdhs vet', None, '+16192997012'),
 ('taiwan madre', None, '0905304231'),
 ('‰∫åÂßëÂßë', None, '(925) 818-8152'),
 ('Â§ßÂßëÂßë', None, '1 (925) 818-8151'),
 ('Â∞èÂßëÂßë', None, '(925) 330-3093'),
 ('Rania', 'Ahmad', '(510) 648-8158'),
 ('Ervin', 'Alvarado', '+17024624180'),
 ('Twinkle', 'Bansal', '(510) 248-9893'),
 ('Micah', 'Barreyro', '+18582302657'),
 ('Charlize', 'Beronilla', '+15108167098'),
 ('Kevin', 'Bui', '+18188231376'),
 ('Zach', 'Callahan', '(530) 312-3956'),
 ('Jacki', 'Carranza', '5106926559'),
 ('Gloria', 'Chang', '(510) 402-7737'),
 ('Angela', 'Chapman', '+17606603737'),
 ('Aileen', 'Chen', '+15106960760'),
 ('Annie', 'Chen', '(408) 582-4496'),
 ('Annie', 'Chen', '(408) 926-1236'),
 ('Claire', 'Chen', '+15102838919'),
 ('Mei', 'Cheng', '(510) 358-5700'),
 ('Chris', 'Choo', '+15107665604'),
 ('Samantha', 'Chou', '(510) 333-3673'),
 ('Coach', 'Cramer', '+15105578740'),
 ('Hezzy', 'Crawford', '+18056081219'),
 ('Natasha', 'Cruz', '+15103585358'),
 ('Amanda', 'Cyril', '(510) 796-1329'),
 ('Anannya', 'Deshmukh', '(510) 386-9377'),
 ('Sylvia', 'Do', '+17149259469'),
 ('Yejin', 'Do', '2135008161'),
 ('Christine', 'Du', '+15107378796'),
 ('Michelle', 'Du', '+1 (510) 386-5875'),
 ('Chris', 'Fan', '+18585249470'),
 ('Mandy', 'Fong', '1 (408) 835-2060'),
 ('Anastasia', 'Gani', '+13237129779'),
 ('Shakthi', 'Gans üê®', '(510) 358-6597'),
 ('Kevin', 'Gao', '(510) 673-9124'),
 ('Andrea', 'Garza', '(530) 908-9745'),
 ('Isaac', 'Gimpel', '+19255884001'),
 ('Lasyaaa', 'Gundala', '+15109639046'),
 ('Ishaaa', 'Gupta', '+1 (510) 896-9825'),
 ('Michelle', 'Hahn', '+16618030521'),
 ('Mike', 'Ho', '+18587055368'),
 ('Ms.', 'Honawar', '(510) 468-3984'),
 ('Esther', 'Hong', '+14088320387'),
 ('Judah', 'Hsu', '+1 (510) 579-8962'),
 ('Noah', 'Hsu', '+1 (510) 590-6719'),
 ('Pauline', 'Hsu', '(858) 444-5249'),
 ('Shawn', 'Hsu', '+15106402802'),
 ('Ginger', 'Hu', '(510) 509-4802'),
 ('Joyce', 'Hu', '(510) 378-1127'),
 ('Logan', 'Hu', '+15102076334'),
 ('Ocean', 'Hu', '(510) 709-5002'),
 ('Ocean', 'Hu', '928-6565219'),
 ('Ocean', 'Hu', '+19286565200'),
 ('Sylvia', 'Hu', '1 (925) 360-6236'),
 ('Meera', 'Huang', '(510) 305-7838'),
 ('Allison', 'Hwang', None),
 ('Kriti', 'Iyer', '(510) 766-6618'),
 ('Shubhi', 'Jain', '(408) 823-2904'),
 ('Coach', 'Jones', '+1 (510) 759-1080'),
 ('Zion', 'Jung', '+19072271391'),
 ('Amanda', 'Kha', '+16264975579'),
 ('Vidya', 'Khasbardar', '+14198190135'),
 ('Ben', 'Kim', '+17142048435'),
 ('Charissa', 'Kim', '+19092478988'),
 ('Justin', 'Kim', '+15628812881'),
 ('Lindsey', 'Kim', '(424) 392-1646'),
 ('Rachel', 'Kim', '(650) 339-8579'),
 ('SuJung', 'Kim', '4155539309'),
 ('Jordan', 'King', '+16034009217'),
 ('Matthew', 'Kong', '(510) 501-9609'),
 ('Melody', 'Kusnohadi', '+19096809014'),
 ('Junhao', 'Lai', '6282344269'),
 ('Ms.', 'Lau', '(510) 825-7406'),
 ('Sarah', 'Lau', '+1 (510) 316-7808'),
 ('Ryan', 'Lee', '+17143197803'),
 ('Denise', 'Leum', '(949) 701-8408'),
 ('Joanna', 'Lin', '1 (510) 396-2266'),
 ('Angela', 'Liu', '+18189239476'),
 ('Anushka', 'Lodha', '(510) 458-6046'),
 ('George', 'Luo', '+19167547512'),
 ('Ivey', 'Luo', '+19166950629'),
 ('Chloe', 'Mahachek', '1 (415) 539-5200'),
 ('Yolanda', 'Mai', '+16264266348'),
 ('Noah', 'Maston', '+19406540609'),
 ('Megs', 'Mazumdar', '(925) 640-2537'),
 ('Sarah', 'Mcintire', '+13105073509'),
 ('Bodhe', 'Melver', '(702) 506-7881'),
 (None, 'Modesto Dental', '(209) 527-3990'),
 ('Ananya', 'Nag', '(510) 320-7336'),
 ('Quentin', 'Nguyen', '6692137058'),
 ('James', 'Opre', '+1 (603) 325-1660'),
 ('Kyle', 'Peng', '(510) 364-4228'),
 ('Will', 'Peng', '5103648540'),
 ('Eric', 'Pham', '+1 (714) 880-5384'),
 ('Phil', 'Putra', '+14159885121'),
 ('Emily', 'Quan', '(510) 366-0101'),
 ('Kath', 'Raiano', '+16034658370'),
 ('Shamini', 'Saravanan', '(925) 999-5663'),
 ('Rachel', 'Seo', '+17146136257'),
 ('Francis', 'Shen', '0955506581'),
 ('Grace', 'Shen', '(510) 709-5003'),
 ('Lo Fong', 'Shen', '0952076957'),
 ('Rachel', 'Shen', '+15102035812'),
 ('Rebecca', 'Shin', '(949) 247-1945'),
 ('Mai', 'Shingyoji', '(858) 298-1284'),
 ('Jatin', 'Singh', '5104370290'),
 ('Danielle', 'Soong', '(619) 746-4242'),
 ('Serena', 'Spada', '+14156507168'),
 ('Jake', 'Stasi', '+15104356911'),
 ('Douglas', 'Stillman', '510-681-1176'),
 ('Todd', 'Stilwell', '(510) 396-7061'),
 ('Alison', 'Sun', '(510) 827-0157'),
 ('Alison', 'Sun', '(510) 792-5680'),
 ('Naomi', 'Szeto', '+15107666216'),
 ('Noelani', 'Takei', '(510) 468-6345'),
 ('Kelly', 'Tang', '+15104588449'),
 ('Shar', 'Taylor', '+16194171755'),
 ('Joshua', 'Thomas', '(510) 329-5414'),
 ('Nick', 'Tong', '+15102279778'),
 ('Osman', 'Trieu', '+16615993832'),
 ('Ester', 'Tsai', '+19259185938'),
 ('Janine', 'Tsai', '+15307613570'),
 ('Ashley', 'Tu', None),
 ('Derek', 'Wang', '+16262525574'),
 ('Brynn', 'Werner', '(404) 698-0882'),
 ('Sierra', 'Winter', '(530) 383-9126'),
 ('Darren', 'Wong', '+15309027223'),
 ('Kailey', 'Wong', '+19259183792'),
 ('Melanieüí©', 'Wong', '(510) 209-7390'),
 ('Brittany', 'Wu', '+16262713321'),
 ('Jessie', 'Wu', None),
 ('Stacie', 'Wu', '6262656349'),
 ('Stephanie', 'Wu', '(925) 596-8066'),
 ('Yuti', 'Wu', '1 (510) 656-5308'),
 ('Yuti', 'Wu', '1 (510) 673-7668'),
 ('Alex', 'Xu', '+15108965703'),
 ('Vivian', 'Xu', '(732) 668-3269'),
 ('Athena', 'Xue üëå', '(510) 324-6580'),
 ('Daisy', 'Ye', '+18589517792'),
 ('Alyson', 'Yi', '+14085059018'),
 ('Clara', 'Yi', '(949) 533-0547'),
 ('Miranda', 'Ying', '5104684521'),
 ('Jessica', 'Yu', '+19162915322'),
 ('katelyn', 'au', '+1 (408) 425-1633'),
 ('angela', 'cai', '+16267666340'),
 ('emily', 'cao', '+15306013104'),
 ('julia', 'chang', '(650) 203-3666'),
 ('christina', 'hu', '(510) 375-6473'),
 ('cristy', 'kim', '+12135070249'),
 ('elise', 'kim', '+15108969196'),
 ('yerin', 'kim', '+16092162362'),
 ('audrey', 'lee', '+14088139475'),
 ('katie', 'short', '(513) 808-3540'),
 ('ellie', 'wang', '+17149320311'),
 ('joanne', 'yen', '+16263227484'),
 ("Tony's Dad", 'ÁéãÈÅ†', '(510) 386-0315')]

In [36]:
contacts = pd.DataFrame(result_set, columns=['first', 'last', 'number'])
contacts

          first   last          number
0          None   None            None
1          None   None  (925) 818-8151
2          None   None  (925) 330-3093
3          None   None      5105851263
4          None   None  (408) 656-8727
..          ...    ...             ...
245      audrey    lee    +14088139475
246       katie  short  (513) 808-3540
247       ellie   wang    +17149320311
248      joanne    yen    +16263227484
249  Tony's Dad     ÁéãÈÅ†  (510) 386-0315

[250 rows x 3 columns]

In [20]:
def get_address_book(address_book_location):
    conn = sqlite3.connect(address_book_location)
    cursor = conn.cursor()

    cursor.execute("SELECT DISTINCT ZABCDRECORD.ZFIRSTNAME [FIRST NAME], ZABCDRECORD.ZLASTNAME [LAST NAME], ZABCDPHONENUMBER.ZFULLNUMBER [FULL NUMBER] FROM ZABCDRECORD LEFT JOIN ZABCDPHONENUMBER ON ZABCDRECORD.Z_PK = ZABCDPHONENUMBER.ZOWNER ORDER BY ZABCDRECORD.ZLASTNAME, ZABCDRECORD.ZFIRSTNAME, ZABCDPHONENUMBER.ZORDERINGINDEX ASC")
    result_set = cursor.fetchall()

    #Convert tuples to json
    json_output = json.dumps([{"FIRSTNAME": t[0], "LASTNAME": t[1], "FULLNUMBER": t[2]} for t in result_set])
    json_list = json.loads(json_output)
    conn.close()

    for obj in json_list:
        # Get the phone number from the object
        phone = obj["FULLNUMBER"]
        if phone is None:
            continue
        # Remove all non-numeric characters from the phone number
        phone = "".join([c for c in phone if c.isnumeric()])
        #if the phone number is 10 digits, add "+1" to the beginning, if it's 11 digits, add "+"
        if len(phone) == 10:
            phone = "+1" + phone
        elif len(phone) == 11:
            phone = "+" + phone
        # Add the phone number to the object
        obj["NUMBERCLEAN"] = phone
        
    new_json_output = json.dumps(json_list)
    return new_json_output

In [ ]:
/Users/joycehu/Library/Messages/chat.db

In [25]:
address_book_location = "/Users/joycehu/Library/Application Support/AddressBook/Sources/B470B8FA-DC30-4089-8B50-645AD77679C6/AddressBook-v22.abcddb"

addressBookData = get_address_book(address_book_location)
addressBookData

'[{"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": null}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "(925) 818-8151", "NUMBERCLEAN": "+19258188151"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "(925) 330-3093", "NUMBERCLEAN": "+19253303093"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "5105851263", "NUMBERCLEAN": "+15105851263"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "(408) 656-8727", "NUMBERCLEAN": "+14086568727"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "4085544790", "NUMBERCLEAN": "+14085544790"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "5102726600", "NUMBERCLEAN": "+15102726600"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "5106619956", "NUMBERCLEAN": "+15106619956"}, {"FIRSTNAME": null, "LASTNAME": null, "FULLNUMBER": "+14254295300", "NUMBERCLEAN": "+14254295300"}, {"FIRSTNAME": "AJ", "LASTNAME": null, "FULLNUMBER": "+14025415566", "NUMBERCLEAN": "+14025415566"}, {"FIRSTNAME": "Addie", "LASTNAME": null, "FULLNUMBER": "+18582429646", "NUMBERCLEAN": "+18582429646"}, {"FIRSTNAME": "Amriel", "LASTNAME": null, "FULLNUMBER": "+16195047072", "NUMBERCLEAN": "+16195047072"}, {"FIRSTNAME": "Anais", "LASTNAME": null, "FULLNUMBER": "(510) 455-0703", "NUMBERCLEAN": "+15104550703"}, {"FIRSTNAME": "Angela", "LASTNAME": null, "FULLNUMBER": "+14087864910", "NUMBERCLEAN": "+14087864910"}, {"FIRSTNAME": "Angie", "LASTNAME": null, "FULLNUMBER": "+1 (805) 895-3815", "NUMBERCLEAN": "+18058953815"}, {"FIRSTNAME": "Anna", "LASTNAME": null, "FULLNUMBER": "+19512169482", "NUMBERCLEAN": "+19512169482"}, {"FIRSTNAME": "Ashley", "LASTNAME": null, "FULLNUMBER": "+16613199084", "NUMBERCLEAN": "+16613199084"}, {"FIRSTNAME": "Ashvi", "LASTNAME": null, "FULLNUMBER": "1 (408) 306-6046", "NUMBERCLEAN": "+14083066046"}, {"FIRSTNAME": "Azul", "LASTNAME": null, "FULLNUMBER": "(510) 359-8785", "NUMBERCLEAN": "+15103598785"}, {"FIRSTNAME": "Bekah", "LASTNAME": null, "FULLNUMBER": "+15103661021", "NUMBERCLEAN": "+15103661021"}, {"FIRSTNAME": "Bianca", "LASTNAME": null, "FULLNUMBER": "+15059107676", "NUMBERCLEAN": "+15059107676"}, {"FIRSTNAME": "Bridgette", "LASTNAME": null, "FULLNUMBER": "(510) 322-4309", "NUMBERCLEAN": "+15103224309"}, {"FIRSTNAME": "Bryan", "LASTNAME": null, "FULLNUMBER": "+15597879750", "NUMBERCLEAN": "+15597879750"}, {"FIRSTNAME": "Canela", "LASTNAME": null, "FULLNUMBER": "+15103292363", "NUMBERCLEAN": "+15103292363"}, {"FIRSTNAME": "Carlos", "LASTNAME": null, "FULLNUMBER": "+19252093727", "NUMBERCLEAN": "+19252093727"}, {"FIRSTNAME": "Cassidy FMPH", "LASTNAME": null, "FULLNUMBER": "+18183714154", "NUMBERCLEAN": "+18183714154"}, {"FIRSTNAME": "Chanyoung", "LASTNAME": null, "FULLNUMBER": "+14085804830", "NUMBERCLEAN": "+14085804830"}, {"FIRSTNAME": "Charlotte", "LASTNAME": null, "FULLNUMBER": "+18587059418", "NUMBERCLEAN": "+18587059418"}, {"FIRSTNAME": "Christine", "LASTNAME": null, "FULLNUMBER": "(408) 425-1631", "NUMBERCLEAN": "+14084251631"}, {"FIRSTNAME": "Coves", "LASTNAME": null, "FULLNUMBER": "+17146038467", "NUMBERCLEAN": "+17146038467"}, {"FIRSTNAME": "Dani", "LASTNAME": null, "FULLNUMBER": "+15106406223", "NUMBERCLEAN": "+15106406223"}, {"FIRSTNAME": "Diana", "LASTNAME": null, "FULLNUMBER": "(510) 857-2739", "NUMBERCLEAN": "+15108572739"}, {"FIRSTNAME": "Doreen \\u963f\\u59e8", "LASTNAME": null, "FULLNUMBER": "5103640131", "NUMBERCLEAN": "+15103640131"}, {"FIRSTNAME": "Eddie\\ud83d\\udc9b\\ud83d\\udc9b\\ud83d\\udc9b", "LASTNAME": null, "FULLNUMBER": "1 (510) 438-9395", "NUMBERCLEAN": "+15104389395"}, {"FIRSTNAME": "Erika", "LASTNAME": null, "FULLNUMBER": "+19519700981", "NUMBERCLEAN": "+19519700981"}, {"FIRSTNAME": "Esha", "LASTNAME": null, "FULLNUMBER": "(510) 598-6269", "NUMBERCLEAN": "+15105986269"}, {"FIRSTNAME": "Ghania", "LASTNAME": null, "FULLNUMBER": "+15104178890", "NUMBERCLEAN": "+15104178890"}, {"FIRSTNAME": "Gil", "LASTNAME": null, "FULLNUMBER": "+14083868321", "NUMBERCLEAN": "+14083868321"}, {"FIRSTNAME": "Giselle", "LASTNAME": null, "FULLNUMBER": "+13236168313", "NUMBERCLEAN": "+13236168313"}, {"FIRSTNAME": "Heeyoung", "LASTNAME": null, "FULLNUMBER": "+16022844675", "NUMBERCLEAN": "+16022844675"}, {"FIRSTNAME": "Henry", "LASTNAME": null, "FULLNUMBER": "+15105986378", "NUMBERCLEAN": "+15105986378"}, {"FIRSTNAME": "Hunter", "LASTNAME": null, "FULLNUMBER": "+17147437722", "NUMBERCLEAN": "+17147437722"}, {"FIRSTNAME": "Isana", "LASTNAME": null, "FULLNUMBER": "+14127365377", "NUMBERCLEAN": "+14127365377"}, {"FIRSTNAME": "Itzel", "LASTNAME": null, "FULLNUMBER": "(510) 990-5283", "NUMBERCLEAN": "+15109905283"}, {"FIRSTNAME": "Jake\'s Dad", "LASTNAME": null, "FULLNUMBER": "+14088592562", "NUMBERCLEAN": "+14088592562"}, {"FIRSTNAME": "Janelle", "LASTNAME": null, "FULLNUMBER": "+15103042098", "NUMBERCLEAN": "+15103042098"}, {"FIRSTNAME": "Jay", "LASTNAME": null, "FULLNUMBER": "(408) 209-6052", "NUMBERCLEAN": "+14082096052"}, {"FIRSTNAME": "Jen", "LASTNAME": null, "FULLNUMBER": "+13107048616", "NUMBERCLEAN": "+13107048616"}, {"FIRSTNAME": "Jessica", "LASTNAME": null, "FULLNUMBER": "+15103860642", "NUMBERCLEAN": "+15103860642"}, {"FIRSTNAME": "Jordan", "LASTNAME": null, "FULLNUMBER": "+17146034868", "NUMBERCLEAN": "+17146034868"}, {"FIRSTNAME": "Justin", "LASTNAME": null, "FULLNUMBER": "+18582411106", "NUMBERCLEAN": "+18582411106"}, {"FIRSTNAME": "Kyle", "LASTNAME": null, "FULLNUMBER": "+18182948708", "NUMBERCLEAN": "+18182948708"}, {"FIRSTNAME": "Lauren", "LASTNAME": null, "FULLNUMBER": "+18583195749", "NUMBERCLEAN": "+18583195749"}, {"FIRSTNAME": "Lela", "LASTNAME": null, "FULLNUMBER": "+14236354336", "NUMBERCLEAN": "+14236354336"}, {"FIRSTNAME": "Lenette", "LASTNAME": null, "FULLNUMBER": "+18584374482", "NUMBERCLEAN": "+18584374482"}, {"FIRSTNAME": "Lillian", "LASTNAME": null, "FULLNUMBER": "+17144683575", "NUMBERCLEAN": "+17144683575"}, {"FIRSTNAME": "Lisa", "LASTNAME": null, "FULLNUMBER": "+18582919114", "NUMBERCLEAN": "+18582919114"}, {"FIRSTNAME": "Lois", "LASTNAME": null, "FULLNUMBER": "+17472187278", "NUMBERCLEAN": "+17472187278"}, {"FIRSTNAME": "Maansa", "LASTNAME": null, "FULLNUMBER": "+14085058255", "NUMBERCLEAN": "+14085058255"}, {"FIRSTNAME": "Mandy", "LASTNAME": null, "FULLNUMBER": "(408) 835-2060", "NUMBERCLEAN": "+14088352060"}, {"FIRSTNAME": "Mariana", "LASTNAME": null, "FULLNUMBER": "+16192894743", "NUMBERCLEAN": "+16192894743"}, {"FIRSTNAME": "Mark", "LASTNAME": null, "FULLNUMBER": "+15104681932", "NUMBERCLEAN": "+15104681932"}, {"FIRSTNAME": "Marlene", "LASTNAME": null, "FULLNUMBER": "+15102286891", "NUMBERCLEAN": "+15102286891"}, {"FIRSTNAME": "Marlo", "LASTNAME": null, "FULLNUMBER": "(714) 496-4702", "NUMBERCLEAN": "+17144964702"}, {"FIRSTNAME": "Megha", "LASTNAME": null, "FULLNUMBER": "+14254295330", "NUMBERCLEAN": "+14254295330"}, {"FIRSTNAME": "Michelle\'s Dad", "LASTNAME": null, "FULLNUMBER": "(510) 367-5098", "NUMBERCLEAN": "+15103675098"}, {"FIRSTNAME": "Mika", "LASTNAME": null, "FULLNUMBER": "(408) 314-9785", "NUMBERCLEAN": "+14083149785"}, {"FIRSTNAME": "Mika", "LASTNAME": null, "FULLNUMBER": "1 (408) 334-6388", "NUMBERCLEAN": "+14083346388"}, {"FIRSTNAME": "Milagro", "LASTNAME": null, "FULLNUMBER": "(704) 460-5846", "NUMBERCLEAN": "+17044605846"}, {"FIRSTNAME": "Mr Yang", "LASTNAME": null, "FULLNUMBER": "+15103663062", "NUMBERCLEAN": "+15103663062"}, {"FIRSTNAME": "Natalie", "LASTNAME": null, "FULLNUMBER": "(323) 618-8888", "NUMBERCLEAN": "+13236188888"}, {"FIRSTNAME": "Quentin\'s Mom", "LASTNAME": null, "FULLNUMBER": "4087866480", "NUMBERCLEAN": "+14087866480"}, {"FIRSTNAME": "Rachel", "LASTNAME": null, "FULLNUMBER": "+15108272351", "NUMBERCLEAN": "+15108272351"}, {"FIRSTNAME": "Riya", "LASTNAME": null, "FULLNUMBER": "+15107704708", "NUMBERCLEAN": "+15107704708"}, {"FIRSTNAME": "Rohan", "LASTNAME": null, "FULLNUMBER": "+15104499011", "NUMBERCLEAN": "+15104499011"}, {"FIRSTNAME": "Rosalynn", "LASTNAME": null, "FULLNUMBER": "+15103865942", "NUMBERCLEAN": "+15103865942"}, {"FIRSTNAME": "Rueben", "LASTNAME": null, "FULLNUMBER": "+12088134082", "NUMBERCLEAN": "+12088134082"}, {"FIRSTNAME": "Ryan", "LASTNAME": null, "FULLNUMBER": "(408) 660-6652", "NUMBERCLEAN": "+14086606652"}, {"FIRSTNAME": "Ryan\'s Mom Sherrie", "LASTNAME": null, "FULLNUMBER": "(847) 899-3248", "NUMBERCLEAN": "+18478993248"}, {"FIRSTNAME": "SDHS Foster Center", "LASTNAME": null, "FULLNUMBER": "+16192091599", "NUMBERCLEAN": "+16192091599"}, {"FIRSTNAME": "Shakthis Father LOLOL", "LASTNAME": null, "FULLNUMBER": "+15106486156", "NUMBERCLEAN": "+15106486156"}, {"FIRSTNAME": "Sharon", "LASTNAME": null, "FULLNUMBER": "+14084210941", "NUMBERCLEAN": "+14084210941"}, {"FIRSTNAME": "Tyalla", "LASTNAME": null, "FULLNUMBER": "+14082042212", "NUMBERCLEAN": "+14082042212"}, {"FIRSTNAME": "Vanessa", "LASTNAME": null, "FULLNUMBER": "+15054898602", "NUMBERCLEAN": "+15054898602"}, {"FIRSTNAME": "Vanessa", "LASTNAME": null, "FULLNUMBER": "+18183705543", "NUMBERCLEAN": "+18183705543"}, {"FIRSTNAME": "Viki", "LASTNAME": null, "FULLNUMBER": "+18322763659", "NUMBERCLEAN": "+18322763659"}, {"FIRSTNAME": "Zainab", "LASTNAME": null, "FULLNUMBER": "+1 (510) 474-2979", "NUMBERCLEAN": "+15104742979"}, {"FIRSTNAME": "cat vet", "LASTNAME": null, "FULLNUMBER": "2623493204", "NUMBERCLEAN": "+12623493204"}, {"FIRSTNAME": "chloe", "LASTNAME": null, "FULLNUMBER": "(805) 201-8834", "NUMBERCLEAN": "+18052018834"}, {"FIRSTNAME": "dorothy", "LASTNAME": null, "FULLNUMBER": "+18183958728", "NUMBERCLEAN": "+18183958728"}, {"FIRSTNAME": "eli", "LASTNAME": null, "FULLNUMBER": "(213) 248-8329", "NUMBERCLEAN": "+12132488329"}, {"FIRSTNAME": "leila", "LASTNAME": null, "FULLNUMBER": "(818) 540-8712", "NUMBERCLEAN": "+18185408712"}, {"FIRSTNAME": "sdhs cat vet i think", "LASTNAME": null, "FULLNUMBER": "6192795085", "NUMBERCLEAN": "+16192795085"}, {"FIRSTNAME": "sdhs vet", "LASTNAME": null, "FULLNUMBER": "+16192997012", "NUMBERCLEAN": "+16192997012"}, {"FIRSTNAME": "taiwan madre", "LASTNAME": null, "FULLNUMBER": "0905304231", "NUMBERCLEAN": "+10905304231"}, {"FIRSTNAME": "\\u4e8c\\u59d1\\u59d1", "LASTNAME": null, "FULLNUMBER": "(925) 818-8152", "NUMBERCLEAN": "+19258188152"}, {"FIRSTNAME": "\\u5927\\u59d1\\u59d1", "LASTNAME": null, "FULLNUMBER": "1 (925) 818-8151", "NUMBERCLEAN": "+19258188151"}, {"FIRSTNAME": "\\u5c0f\\u59d1\\u59d1", "LASTNAME": null, "FULLNUMBER": "(925) 330-3093", "NUMBERCLEAN": "+19253303093"}, {"FIRSTNAME": "Rania", "LASTNAME": "Ahmad", "FULLNUMBER": "(510) 648-8158", "NUMBERCLEAN": "+15106488158"}, {"FIRSTNAME": "Ervin", "LASTNAME": "Alvarado", "FULLNUMBER": "+17024624180", "NUMBERCLEAN": "+17024624180"}, {"FIRSTNAME": "Twinkle", "LASTNAME": "Bansal", "FULLNUMBER": "(510) 248-9893", "NUMBERCLEAN": "+15102489893"}, {"FIRSTNAME": "Micah", "LASTNAME": "Barreyro", "FULLNUMBER": "+18582302657", "NUMBERCLEAN": "+18582302657"}, {"FIRSTNAME": "Charlize", "LASTNAME": "Beronilla", "FULLNUMBER": "+15108167098", "NUMBERCLEAN": "+15108167098"}, {"FIRSTNAME": "Kevin", "LASTNAME": "Bui", "FULLNUMBER": "+18188231376", "NUMBERCLEAN": "+18188231376"}, {"FIRSTNAME": "Zach", "LASTNAME": "Callahan", "FULLNUMBER": "(530) 312-3956", "NUMBERCLEAN": "+15303123956"}, {"FIRSTNAME": "Jacki", "LASTNAME": "Carranza", "FULLNUMBER": "5106926559", "NUMBERCLEAN": "+15106926559"}, {"FIRSTNAME": "Gloria", "LASTNAME": "Chang", "FULLNUMBER": "(510) 402-7737", "NUMBERCLEAN": "+15104027737"}, {"FIRSTNAME": "Angela", "LASTNAME": "Chapman", "FULLNUMBER": "+17606603737", "NUMBERCLEAN": "+17606603737"}, {"FIRSTNAME": "Aileen", "LASTNAME": "Chen", "FULLNUMBER": "+15106960760", "NUMBERCLEAN": "+15106960760"}, {"FIRSTNAME": "Annie", "LASTNAME": "Chen", "FULLNUMBER": "(408) 582-4496", "NUMBERCLEAN": "+14085824496"}, {"FIRSTNAME": "Annie", "LASTNAME": "Chen", "FULLNUMBER": "(408) 926-1236", "NUMBERCLEAN": "+14089261236"}, {"FIRSTNAME": "Claire", "LASTNAME": "Chen", "FULLNUMBER": "+15102838919", "NUMBERCLEAN": "+15102838919"}, {"FIRSTNAME": "Mei", "LASTNAME": "Cheng", "FULLNUMBER": "(510) 358-5700", "NUMBERCLEAN": "+15103585700"}, {"FIRSTNAME": "Chris", "LASTNAME": "Choo", "FULLNUMBER": "+15107665604", "NUMBERCLEAN": "+15107665604"}, {"FIRSTNAME": "Samantha", "LASTNAME": "Chou", "FULLNUMBER": "(510) 333-3673", "NUMBERCLEAN": "+15103333673"}, {"FIRSTNAME": "Coach", "LASTNAME": "Cramer", "FULLNUMBER": "+15105578740", "NUMBERCLEAN": "+15105578740"}, {"FIRSTNAME": "Hezzy", "LASTNAME": "Crawford", "FULLNUMBER": "+18056081219", "NUMBERCLEAN": "+18056081219"}, {"FIRSTNAME": "Natasha", "LASTNAME": "Cruz", "FULLNUMBER": "+15103585358", "NUMBERCLEAN": "+15103585358"}, {"FIRSTNAME": "Amanda", "LASTNAME": "Cyril", "FULLNUMBER": "(510) 796-1329", "NUMBERCLEAN": "+15107961329"}, {"FIRSTNAME": "Anannya", "LASTNAME": "Deshmukh", "FULLNUMBER": "(510) 386-9377", "NUMBERCLEAN": "+15103869377"}, {"FIRSTNAME": "Sylvia", "LASTNAME": "Do", "FULLNUMBER": "+17149259469", "NUMBERCLEAN": "+17149259469"}, {"FIRSTNAME": "Yejin", "LASTNAME": "Do", "FULLNUMBER": "2135008161", "NUMBERCLEAN": "+12135008161"}, {"FIRSTNAME": "Christine", "LASTNAME": "Du", "FULLNUMBER": "+15107378796", "NUMBERCLEAN": "+15107378796"}, {"FIRSTNAME": "Michelle", "LASTNAME": "Du", "FULLNUMBER": "+1 (510) 386-5875", "NUMBERCLEAN": "+15103865875"}, {"FIRSTNAME": "Chris", "LASTNAME": "Fan", "FULLNUMBER": "+18585249470", "NUMBERCLEAN": "+18585249470"}, {"FIRSTNAME": "Mandy", "LASTNAME": "Fong", "FULLNUMBER": "1 (408) 835-2060", "NUMBERCLEAN": "+14088352060"}, {"FIRSTNAME": "Anastasia", "LASTNAME": "Gani", "FULLNUMBER": "+13237129779", "NUMBERCLEAN": "+13237129779"}, {"FIRSTNAME": "Shakthi", "LASTNAME": "Gans \\ud83d\\udc28", "FULLNUMBER": "(510) 358-6597", "NUMBERCLEAN": "+15103586597"}, {"FIRSTNAME": "Kevin", "LASTNAME": "Gao", "FULLNUMBER": "(510) 673-9124", "NUMBERCLEAN": "+15106739124"}, {"FIRSTNAME": "Andrea", "LASTNAME": "Garza", "FULLNUMBER": "(530) 908-9745", "NUMBERCLEAN": "+15309089745"}, {"FIRSTNAME": "Isaac", "LASTNAME": "Gimpel", "FULLNUMBER": "+19255884001", "NUMBERCLEAN": "+19255884001"}, {"FIRSTNAME": "Lasyaaa", "LASTNAME": "Gundala", "FULLNUMBER": "+15109639046", "NUMBERCLEAN": "+15109639046"}, {"FIRSTNAME": "Ishaaa", "LASTNAME": "Gupta", "FULLNUMBER": "+1 (510) 896-9825", "NUMBERCLEAN": "+15108969825"}, {"FIRSTNAME": "Michelle", "LASTNAME": "Hahn", "FULLNUMBER": "+16618030521", "NUMBERCLEAN": "+16618030521"}, {"FIRSTNAME": "Mike", "LASTNAME": "Ho", "FULLNUMBER": "+18587055368", "NUMBERCLEAN": "+18587055368"}, {"FIRSTNAME": "Ms.", "LASTNAME": "Honawar", "FULLNUMBER": "(510) 468-3984", "NUMBERCLEAN": "+15104683984"}, {"FIRSTNAME": "Esther", "LASTNAME": "Hong", "FULLNUMBER": "+14088320387", "NUMBERCLEAN": "+14088320387"}, {"FIRSTNAME": "Judah", "LASTNAME": "Hsu", "FULLNUMBER": "+1 (510) 579-8962", "NUMBERCLEAN": "+15105798962"}, {"FIRSTNAME": "Noah", "LASTNAME": "Hsu", "FULLNUMBER": "+1 (510) 590-6719", "NUMBERCLEAN": "+15105906719"}, {"FIRSTNAME": "Pauline", "LASTNAME": "Hsu", "FULLNUMBER": "(858) 444-5249", "NUMBERCLEAN": "+18584445249"}, {"FIRSTNAME": "Shawn", "LASTNAME": "Hsu", "FULLNUMBER": "+15106402802", "NUMBERCLEAN": "+15106402802"}, {"FIRSTNAME": "Ginger", "LASTNAME": "Hu", "FULLNUMBER": "(510) 509-4802", "NUMBERCLEAN": "+15105094802"}, {"FIRSTNAME": "Joyce", "LASTNAME": "Hu", "FULLNUMBER": "(510) 378-1127", "NUMBERCLEAN": "+15103781127"}, {"FIRSTNAME": "Logan", "LASTNAME": "Hu", "FULLNUMBER": "+15102076334", "NUMBERCLEAN": "+15102076334"}, {"FIRSTNAME": "Ocean", "LASTNAME": "Hu", "FULLNUMBER": "(510) 709-5002", "NUMBERCLEAN": "+15107095002"}, {"FIRSTNAME": "Ocean", "LASTNAME": "Hu", "FULLNUMBER": "928-6565219", "NUMBERCLEAN": "+19286565219"}, {"FIRSTNAME": "Ocean", "LASTNAME": "Hu", "FULLNUMBER": "+19286565200", "NUMBERCLEAN": "+19286565200"}, {"FIRSTNAME": "Sylvia", "LASTNAME": "Hu", "FULLNUMBER": "1 (925) 360-6236", "NUMBERCLEAN": "+19253606236"}, {"FIRSTNAME": "Meera", "LASTNAME": "Huang", "FULLNUMBER": "(510) 305-7838", "NUMBERCLEAN": "+15103057838"}, {"FIRSTNAME": "Allison", "LASTNAME": "Hwang", "FULLNUMBER": null}, {"FIRSTNAME": "Kriti", "LASTNAME": "Iyer", "FULLNUMBER": "(510) 766-6618", "NUMBERCLEAN": "+15107666618"}, {"FIRSTNAME": "Shubhi", "LASTNAME": "Jain", "FULLNUMBER": "(408) 823-2904", "NUMBERCLEAN": "+14088232904"}, {"FIRSTNAME": "Coach", "LASTNAME": "Jones", "FULLNUMBER": "+1 (510) 759-1080", "NUMBERCLEAN": "+15107591080"}, {"FIRSTNAME": "Zion", "LASTNAME": "Jung", "FULLNUMBER": "+19072271391", "NUMBERCLEAN": "+19072271391"}, {"FIRSTNAME": "Amanda", "LASTNAME": "Kha", "FULLNUMBER": "+16264975579", "NUMBERCLEAN": "+16264975579"}, {"FIRSTNAME": "Vidya", "LASTNAME": "Khasbardar", "FULLNUMBER": "+14198190135", "NUMBERCLEAN": "+14198190135"}, {"FIRSTNAME": "Ben", "LASTNAME": "Kim", "FULLNUMBER": "+17142048435", "NUMBERCLEAN": "+17142048435"}, {"FIRSTNAME": "Charissa", "LASTNAME": "Kim", "FULLNUMBER": "+19092478988", "NUMBERCLEAN": "+19092478988"}, {"FIRSTNAME": "Justin", "LASTNAME": "Kim", "FULLNUMBER": "+15628812881", "NUMBERCLEAN": "+15628812881"}, {"FIRSTNAME": "Lindsey", "LASTNAME": "Kim", "FULLNUMBER": "(424) 392-1646", "NUMBERCLEAN": "+14243921646"}, {"FIRSTNAME": "Rachel", "LASTNAME": "Kim", "FULLNUMBER": "(650) 339-8579", "NUMBERCLEAN": "+16503398579"}, {"FIRSTNAME": "SuJung", "LASTNAME": "Kim", "FULLNUMBER": "4155539309", "NUMBERCLEAN": "+14155539309"}, {"FIRSTNAME": "Jordan", "LASTNAME": "King", "FULLNUMBER": "+16034009217", "NUMBERCLEAN": "+16034009217"}, {"FIRSTNAME": "Matthew", "LASTNAME": "Kong", "FULLNUMBER": "(510) 501-9609", "NUMBERCLEAN": "+15105019609"}, {"FIRSTNAME": "Melody", "LASTNAME": "Kusnohadi", "FULLNUMBER": "+19096809014", "NUMBERCLEAN": "+19096809014"}, {"FIRSTNAME": "Junhao", "LASTNAME": "Lai", "FULLNUMBER": "6282344269", "NUMBERCLEAN": "+16282344269"}, {"FIRSTNAME": "Ms.", "LASTNAME": "Lau", "FULLNUMBER": "(510) 825-7406", "NUMBERCLEAN": "+15108257406"}, {"FIRSTNAME": "Sarah", "LASTNAME": "Lau", "FULLNUMBER": "+1 (510) 316-7808", "NUMBERCLEAN": "+15103167808"}, {"FIRSTNAME": "Ryan", "LASTNAME": "Lee", "FULLNUMBER": "+17143197803", "NUMBERCLEAN": "+17143197803"}, {"FIRSTNAME": "Denise", "LASTNAME": "Leum", "FULLNUMBER": "(949) 701-8408", "NUMBERCLEAN": "+19497018408"}, {"FIRSTNAME": "Joanna", "LASTNAME": "Lin", "FULLNUMBER": "1 (510) 396-2266", "NUMBERCLEAN": "+15103962266"}, {"FIRSTNAME": "Angela", "LASTNAME": "Liu", "FULLNUMBER": "+18189239476", "NUMBERCLEAN": "+18189239476"}, {"FIRSTNAME": "Anushka", "LASTNAME": "Lodha", "FULLNUMBER": "(510) 458-6046", "NUMBERCLEAN": "+15104586046"}, {"FIRSTNAME": "George", "LASTNAME": "Luo", "FULLNUMBER": "+19167547512", "NUMBERCLEAN": "+19167547512"}, {"FIRSTNAME": "Ivey", "LASTNAME": "Luo", "FULLNUMBER": "+19166950629", "NUMBERCLEAN": "+19166950629"}, {"FIRSTNAME": "Chloe", "LASTNAME": "Mahachek", "FULLNUMBER": "1 (415) 539-5200", "NUMBERCLEAN": "+14155395200"}, {"FIRSTNAME": "Yolanda", "LASTNAME": "Mai", "FULLNUMBER": "+16264266348", "NUMBERCLEAN": "+16264266348"}, {"FIRSTNAME": "Noah", "LASTNAME": "Maston", "FULLNUMBER": "+19406540609", "NUMBERCLEAN": "+19406540609"}, {"FIRSTNAME": "Megs", "LASTNAME": "Mazumdar", "FULLNUMBER": "(925) 640-2537", "NUMBERCLEAN": "+19256402537"}, {"FIRSTNAME": "Sarah", "LASTNAME": "Mcintire", "FULLNUMBER": "+13105073509", "NUMBERCLEAN": "+13105073509"}, {"FIRSTNAME": "Bodhe", "LASTNAME": "Melver", "FULLNUMBER": "(702) 506-7881", "NUMBERCLEAN": "+17025067881"}, {"FIRSTNAME": null, "LASTNAME": "Modesto Dental", "FULLNUMBER": "(209) 527-3990", "NUMBERCLEAN": "+12095273990"}, {"FIRSTNAME": "Ananya", "LASTNAME": "Nag", "FULLNUMBER": "(510) 320-7336", "NUMBERCLEAN": "+15103207336"}, {"FIRSTNAME": "Quentin", "LASTNAME": "Nguyen", "FULLNUMBER": "6692137058", "NUMBERCLEAN": "+16692137058"}, {"FIRSTNAME": "James", "LASTNAME": "Opre", "FULLNUMBER": "+1 (603) 325-1660", "NUMBERCLEAN": "+16033251660"}, {"FIRSTNAME": "Kyle", "LASTNAME": "Peng", "FULLNUMBER": "(510) 364-4228", "NUMBERCLEAN": "+15103644228"}, {"FIRSTNAME": "Will", "LASTNAME": "Peng", "FULLNUMBER": "5103648540", "NUMBERCLEAN": "+15103648540"}, {"FIRSTNAME": "Eric", "LASTNAME": "Pham", "FULLNUMBER": "+1 (714) 880-5384", "NUMBERCLEAN": "+17148805384"}, {"FIRSTNAME": "Phil", "LASTNAME": "Putra", 