had to change full disk access to allow terminal

credit: https://medium.com/@yaskalidis/heres-how-you-can-access-your-entire-imessage-history-on-your-mac-f8878276c6e9

In [229]:
import sqlite3
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
import re
import typedstream
import pickle

In [240]:
data = b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84\x84\x84\x19NSMutableAttributedString\x00\x84\x84\x12NSAttributedString\x00\x84\x84\x08NSObject\x00\x85\x92\x84\x84\x84\x0fNSMutableString\x01\x84\x84\x08NSString\x01\x95\x84\x01+\x11ahh oki thank you\x86\x84\x02iI\x01\x11\x92\x84\x84\x84\x0cNSDictionary\x00\x95\x84\x01i\x01\x92\x84\x98\x98\x1d__kIMMessagePartAttributeName\x86\x92\x84\x84\x84\x08NSNumber\x00\x84\x84\x07NSValue\x00\x95\x84\x01*\x84\x9b\x9b\x00\x86\x86\x86'
typedstream.unarchive_from_data(data)

# Unarchive the data
unarchived_data = typedstream.unarchive_from_data(data)

# Access the contents of the GenericArchivedObject
contents = unarchived_data.contents

contents[0].value.value

'ahh oki thank you'

# get contacts dataframe

In [15]:
address_book_location = "/Users/joycehu/Library/Application Support/AddressBook/Sources/B470B8FA-DC30-4089-8B50-645AD77679C6/AddressBook-v22.abcddb"
conn_add = sqlite3.connect(address_book_location)
cursor = conn_add.cursor()


cursor.execute("SELECT DISTINCT ZABCDRECORD.ZFIRSTNAME [FIRST NAME], ZABCDRECORD.ZLASTNAME [LAST NAME], ZABCDPHONENUMBER.ZFULLNUMBER [FULL NUMBER] FROM ZABCDRECORD LEFT JOIN ZABCDPHONENUMBER ON ZABCDRECORD.Z_PK = ZABCDPHONENUMBER.ZOWNER ORDER BY ZABCDRECORD.ZLASTNAME, ZABCDRECORD.ZFIRSTNAME, ZABCDPHONENUMBER.ZORDERINGINDEX ASC")
result_set = cursor.fetchall()

result_set

contacts = pd.DataFrame(result_set, columns=['first', 'last', 'number'])
contacts

          first   last          number
0          None   None            None
1          None   None  (925) 818-8151
2          None   None  (925) 330-3093
3          None   None      5105851263
4          None   None  (408) 656-8727
..          ...    ...             ...
245      audrey    lee    +14088139475
246       katie  short  (513) 808-3540
247       ellie   wang    +17149320311
248      joanne    yen    +16263227484
249  Tony's Dad     王遠  (510) 386-0315

[250 rows x 3 columns]

## clean contacts df

In [18]:
'''
cleans numbers and puts them in the same format as numbers in handle df
'''
def standard_numbers(phone_number): 
    # remove all non-numeric characters
    numeric_number = re.sub(r'\D', '', phone_number)
    if len(numeric_number) == 10:
        numeric_number = "+1" + numeric_number
    if len(numeric_number) == 11:
        numeric_number = "+" + numeric_number
    return numeric_number
    
contacts = contacts.dropna(subset=['number'])
contacts['first'] = contacts['first'].fillna('')
contacts['last'] = contacts['last'].fillna('')
contacts['phone_number'] = contacts['number'].apply(standard_numbers)
contacts['full_name'] = contacts['first'] + ' ' + contacts['last']

contacts

          first   last          number  phone_number      full_name
1                       (925) 818-8151  +19258188151
2                       (925) 330-3093  +19253303093
3                           5105851263  +15105851263
4                       (408) 656-8727  +14086568727
5                           4085544790  +14085544790
..          ...    ...             ...           ...            ...
245      audrey    lee    +14088139475  +14088139475     audrey lee
246       katie  short  (513) 808-3540  +15138083540    katie short
247       ellie   wang    +17149320311  +17149320311     ellie wang
248      joanne    yen    +16263227484  +16263227484     joanne yen
249  Tony's Dad     王遠  (510) 386-0315  +15103860315  Tony's Dad 王遠

[246 rows x 5 columns]

In [93]:
chats = pd.read_sql_query("select * from chat", conn)
chats.columns

Index(['ROWID', 'guid', 'style', 'state', 'account_id', 'properties',
       'chat_identifier', 'service_name', 'room_name', 'account_login',
       'is_archived', 'last_addressed_handle', 'display_name', 'group_id',
       'is_filtered', 'successful_query', 'engram_id', 'server_change_token',
       'ck_sync_state', 'last_read_message_timestamp', 'original_group_id',
       'sr_server_change_token', 'sr_ck_sync_state', 'cloudkit_record_id',
       'sr_cloudkit_record_id', 'last_addressed_sim_id', 'is_blackholed',
       'syndication_date', 'syndication_type', 'is_recovered'],
      dtype='object')

In [103]:
chats['original_group_id']

0          4D683A63-8AA6-44E2-A41A-8CE229C6BD34
1          7307828C-B546-46A9-9066-A04C30E2F170
2          7E3B7DDE-51B0-46E8-8477-FA64B7C83C03
3          6B48FD96-D3FB-4B57-B87C-D52F29777F1C
4          F0AFF9C1-FB0D-4CA9-90E7-3E06BC815A3C
                         ...
553    3F9D1FF94762D0C7EFEAB1F3DA4DDFEEE62B95CB
554        E9913812-1BA7-4D36-B538-92901E4E96E6
555    1302CFED824758B860627761992F24BC5665C1B1
556    3C5FC3EF333618151D37FEC3153F3364E9425CFC
557        CF625D97-6FB0-4C82-B772-B9A0CDFA3989
Name: original_group_id, Length: 558, dtype: object

In [105]:
cur.execute(" select name from sqlite_master where type = 'table' ") 
for name in cur.fetchall():
    print(name)

('_SqliteDatabaseProperties',)
('deleted_messages',)
('sqlite_sequence',)
('chat_handle_join',)
('chat_message_join',)
('message_attachment_join',)
('handle',)
('message',)
('chat',)
('attachment',)
('sync_deleted_messages',)
('message_processing_task',)
('sync_deleted_chats',)
('sync_deleted_attachments',)
('kvtable',)
('chat_recoverable_message_join',)
('unsynced_removed_recoverable_messages',)
('recoverable_message_part',)
('sqlite_stat1',)

In [106]:
mess = pd.read_sql_query("select * from chat_message_join", conn)
mess

        chat_id  message_id        message_date
0             1           1           567238093
1             1           2           567238246
2             2           3           567486800
3             2           4           567487648
4             3           5           567926776
...         ...         ...                 ...
171975      175      175935  725765478761323008
171976      175      175936  725765492567414528
171977      175      175937  725765601356318976
171978      175      175938  725765618502231936
171979        2      175939  725766475703421568

[171980 rows x 3 columns]

In [99]:
chats['chat_identifier'].unique()

array(['+15107378796', '+15105094802', '+15107095002',
       'chat901413911741755790', '+15107095003', '+16197464242',
       'chat259784163111797896', 'chat62213516222744592', '+15103586597',
       '+15108965703', '+15103648540', 'ballerina.eternity@gmail.com',
       '+15103781127', '+15105650530', '+15103865875',
       'beautyinsight@yahoo.com', '+19255884001', '+15105986378',
       'chat19277881941239546', '+15105906719', '+15104588449',
       'oceanhu@yahoo.com', '+15103333673', 'gingerhusunny@gmail.com',
       '+15103869377', 'chat434284839447969', '+16034658370',
       '+19072271391', 'chat175441370131602190', '+16034009217',
       '+15309089745', '+17144964702', '+15103661021',
       'chat262250114752797290', '+15103246580', 'chat358336207945331674',
       '+16505565188', '+15106737668', '+15106406223',
       'chat851910471287626308', 'chat972181684127495230', '+14128484593',
       '+14355922317', '+15103663062', '+15109905283', '+14083868321',
       '+15108272351', '+15104681932', 'chat981395315205670264',
       '+16502960545', '+15102995147', 'chat62164720586888236',
       '+18056081219', 'chat400190413882993597', 'chat674425360817098048',
       'chat40997210641972414', '+15105798962', '+15104177022',
       'chat846977183764366085', '+15103643349', 'anannya.desh@gmail.com',
       'chat70634315155389755', 'info@orders.apple.com',
       'chat42764850927870750', '+12135008161', 'chat48628135326577709',
       '+15103865942', '+13236188888', '+14046980882', '+17044605846',
       'chat368557674858216166', '+14085059018', '+19495330547',
       '+13107403941', '+15105019609', '+14155714232', '+18058953815',
       '+18583806907', '+18584445249', '+16508080257', '+18036036357',
       '+14159885121', 'chat139871292838951283', '+15628812881',
       'chat332849107515389403', 'chat225174912736556',
       'chat6711467394192809', 'chat816787817681319745',
       'chat422611007200757454', '+15103167808', 'chat49907826052235172',
       '+19492751981', '+18183705543', '+15107665604',
       'chat533660011994196965', 'chat587320469653925033', '+16264266348',
       'chat843613726141102833', 'chat104974952635031624',
       'chat743680416783598779', 'chat42951093881488458', '+17472187278',
       'chat907828827680979557', 'chat408988900324671794',
       'chat330884963665726966', '+15592137653', '+17609603337',
       '+19517641373', '+16616003624', '+17143408994', '+16196364658',
       '+17206628878', '+16618030521', '+14439037732', '+17605606386',
       '+17602889438', '+18587613400', '+18082959220',
       'chat898268972328307734', '+16502033666', 'chat74307025764748574',
       '+15309027223', '+15102838919', 'chat717869146239928305',
       'chat275757194638321379', '+18582429646', 'chat211716630692953349',
       'chat456324742252184938', 'chat940251106589571157', '+16194714628',
       '+15107704708', '+16692816051', 'chat675161626550066330',
       '+17147437722', '+13107806077', 'chat8319162248230309',
       'notserena00@gmail.com', 'chat852989171604764792',
       'chat250067633449255412', '+18582537644', 'chat900501441198001094',
       'chat525845012557579554', '+18585249470', '+17146038467',
       'chat629237698263721395', 'chat377300991342470610',
       'chat790540903648617033', 'chat71303850367390522', '+17146136257',
       'chat316263128970239616', '+19092478988', 'chat960398405367698734',
       'chat284394809577529295', '+19492471945', '+16262713321',
       '+18188231376', '+19096809014', 'chat94661743050345362',
       '+16262656349', 'chat473204076324293127', '+18587059418',
       'chat703187874411308579', '+14088320387', '+15102286891',
       'chat38626537123929109', '692632', 'chat851425376895491254',
       '346637', '78156', '347268', '+14156507168', '45347',
       '+14154807487', '+18775782799', 'chat919373742111861031',
       '1113114', '729725', '+18587055368', '+18582835869',
       'chat40435023424476293', '+15103861487', '386732', '242733',
       '24273', 'chat106990640106212827', '46395', '86278',
       'chat956135741244518014', '25392', '88683', '46339',
       '+15104560455', 'sinclairsoulia15314@hotmail.com', '+12054798875',
       '26797', '+14087248215', 'chat386693139916830819', '+15102484136',
       '36246', '+15138083540', '89361', '51592', '+14048622719',
       '+18582803694', '+18582835217', '+19167547512',
       'chat77782595309148691', 'chat863621999382242208', '+18582835252',
       '77598', '+13237129779', '+18583243012', 'chat2791621772997271',
       '2865', 'chat997147856856225157', 'janineee.j9@icloud.com',
       'chat606710754866450167', 'chat689781529670155117',
       'chat711824717250860830', 'chat59279956882365957',
       'chat244176543543884809', 'chat110999764492249863', '+19259185938',
       '83992', '+17148805384', '+14158121260', 'chat322094636381970051',
       '+16265408175', 'chat185937101791453989', '+18889262622',
       'chat203533254138740741', 'chat694520906639520132', '+16692342979',
       'chat785884300589794248', '+12019890360',
       'hallanthonypwve63798@gmail.com', 'chat8416640787640995',
       'chat80765117438719970', 'chat486750556221688159', '1410100004',
       'chat644127355792681850', 'chat584786370654733277', '+19255493649',
       '+18189669109', '+16264975579', 'chat318198142217886867',
       '+18589517792', 'chat215834932606970644', 'chat789672145200010532',
       'helenandclara@gmail.com', '53744', 'chat877940949428614790',
       '80260', 'chat189637916101975262',
       'coreentylohggf2397@hotmail.com', '23393', 'chat15818014710992448',
       'chat484642274891019237', 'chat99697885876712295', '75140',
       '+13864015734', '+12029671891', '+18583195749',
       'chat38457537895911110', 'chat315582238280023594', '1410100005',
       '+14159648408', 'solfmcfallzm1069@hotmail.com',
       'chat45380066849057251', 'chat298004025571726250',
       'chat680350436385682060', 'chat486026068116644505', '+16614721825',
       'chat34667885929207669', '+14302225716', '83342',
       'chat66460973795876422', 'crisluttmerdeda1@hotmail.com',
       '+15306013104', '+14157017673', 'chat94396943265803084',
       'chat8210221048154693', 'chat124953726399706346',
       'lucilemvanhoutoo0310@hotmail.com', 'eemilyjcao@gmail.com',
       'volskaya2000@gmail.com', 'chat20494811177991017', '+13235777095',
       '+16092162362', '+13107048616', '87844', '+14082168860',
       'chat270260302126323325', 'chat361214329890587284',
       'chat702999234588527876', '+16504399042', '+18443425992',
       'chat638146316424442552', '+15108969196', 'asarejoane@gmail.com',
       '+18443420781', 'marthadaniela8584@gmail.com', '+18442127528',
       '1410200502', '776836', '262966', '+18189239476', '+19168177247',
       'chat769729743223633846', '+12135070249', '44398', '2866',
       'chalicelabeau34934@hotmail.com', '+16692407637', '+18336801127',
       'chat106956790112031362', 'martaouhohneee2035@hotmail.com',
       'chat796971647541903840', 'chat380937942407568053', '+16263227484',
       '1410100006', 'chat600530360424236577', '74454', '+18556290830',
       '68494', 'chat859354656459851544', 'chat62686450783349146',
       '+19259183792', 'chat94162673138796888',
       'anyassadamibrahim@gmail.com', 'chat481796084537967422',
       '+16692418187', 'chat106674885288168246', 'chat155807330540709057',
       'chat23214591828280784', 'fmmn18191242@outlook.com',
       'chat35934978684178054', 'washiraya0966@gmail.com', '+18582919114',
       '+17027931080', '2869', 'chat58159639784310332', '+14158103003',
       '+16263276887', '+18052018834', 'oletatgossihx3481@hotmail.com',
       '+16267666340', '+19253606236', '+19513103692', '+18443874547',
       '+18665702791', 'chat2747639481370598', '87102', '+18002903887',
       '+16232326618', '+19138275025', '22395', '+18889797691',
       '1410100007', 'chat408744466277363734', '+19162915322',
       '+17606603737', 'chat18421236712499489', '+12516518577',
       '1410100008', 'jamielmittenfa8295@hotmail.com', '+19253380138',
       'chat164191541339668700', 'chat447945640559269456', '242600',
       '22000', '95246', 'chat818510413422380294', '1410100009',
       '+18183958728', '+18443408730', 'hughrosado024d7@hotmail.com',
       'chat88276628304253598', '+18443435301', 'chat915063663136424847',
       '+14088139475', '+12405588561', '57840', '+18773326926',
       '+18338666894', '+12058465042', '+18584374482', '+16194523813',
       'chat97085471638881761', '+18582302657', '+14257589091',
       '+14243921646', 'chat48784085173421262', '55496', '+18554197365',
       '+18589455052', '+18584490832', '+18582981284', '+16195123938',
       '77259', '72975', '+18554458585', '+19166950629',
       '1-888-280-434121@amzn-custservice.car2nd.me', '+18337168484',
       'chat97833460255469241', '2864', '+14084251633',
       'anaphillips198196@gmail.com', 'chat465189171498256070',
       '+18059100396', '+12086955126', '+14155181322',
       'chat255685801584045331', 'chat19449853657884217',
       'chat496783039457292759', '+18587616268', '+14127365377',
       '+18449313343', 'chat156071528102718577', '738245',
       'chat864941892220371557', '1410200503', '1410200504',
       '+19164323945', '+18437130566', '1410200505', '+18089908541',
       'chat331171864426973716', '+19543765559', 'chat179245102775834910',
       '888555', 'chat807042060269203584', '1410100010', '99217',
       '1410100011', '+14793666494', '70756', '+12065294757',
       '+16192894743', '+18332397552', '83913', '9448', '+15092071362',
       '+886905304231', '8584445249', '0928000223', '0911518067',
       '0911515514', '0911516636', 'francis5shen@gmail.com',
       '+886955506581', '0911510084', '0911518309', '0911517779',
       '+16193766125', '73752', 'chat288763292540982628', '+18554621347',
       '+14807906232',
       "pp_001-247-779-3739.cs-us----------'29yt19pf8@3uo9gozlzz3kdze3olz3.org",
       'chat984177548512057721', 'chat43608889944972283',
       'chat72136111715876606', '+15107867068', '+18332396950',
       'chat57267339192173985', '+18332397571', '+18773513225',
       're.allowsourmembers-toaccess-willcontinue.tmiolwaigh7024-797eaxs@mngcimbbkn17.net',
       '+12624688701',
       'maildssx.1-349-211-1893.mobile-ntflxnetacws3436clerrdjw39f0d966j@tehtubruk.org',
       '+16198206918', '+14254295330', '+18772301835', '87593',
       '+15102076334', '+18772300889', 'chat72169557545663860',
       '+19256219377', '88811', '74262', 'elliekwang@icloud.com',
       '+17736454316', 'downslynnd@gmail.com', '+13109488421',
       'chat463047280754463365', '+15103789715', '+14152124462',
       '1111340061', '+18332438305', 'atriiacf3275@hotmail.com', '30368',
       '32318', '+886188', '0935120188', '48737', '76491',
       'chat839090491393589339', 'chat486367227761131973', '+18553295599',
       '+18332396998', '+18888187218', '+18662075777', '+13417320527',
       '+16192091599', '74843', 'klkbz204@gxvv.cngoogle.site', '57513',
       '68382', '+13107825001', '40404', '72422', '28777', '87212',
       '60682', '2860', 'chat862908271458009985',
       'chat608385089593927878', '+18584052295',
       'no-reply.upspercelid-l0leh@mail1-ups.com', '25161', '83372',
       '+18586499857', '+13105073509', 'chat629312829976183601',
       '+15106218563', '+14159095101', 'chat857124304960187620',
       'chat348938995698334468', '50472', '+14317339569', '78008',
       '+16504871562', '+18334295806', '+15103583791', '79808', '46373',
       '227898', '+18773124302', 'chat94609330397776491', '41021',
       'chat562377188825996612', '+18772319448', '60969',
       'leop1nunez@hotmail.com'], dtype=object)

# get messages dataframe

messages table: contains text messages and relevant info, stores the sender as handle_id
handle table: contains "id" column that contains messager's phone number and corresponding handle_id as "ROWID"

In [173]:
messages.sort_values('handle_id')

,message_id,text,handle_id,subject,service,date,is_audio_message,group_title,is_sent,date_utc
69916,71151,ohhhh,0,None,iMessage,638652445986798976,0,None,1,2021-03-28 12:27:25
125569,126822,thats tru,0,None,iMessage,679989534802999936,0,None,1,2022-07-19 22:58:54
125565,126818,u guys were against it at first,0,None,iMessage,679989483455000192,0,None,1,2022-07-19 22:58:03
125563,126816,bro i can pull up recipets,0,None,iMessage,679989477656999808,0,None,1,2022-07-19 22:57:57
125558,126811,WHAT the board was my idea,0,None,iMessage,679989460355000064,0,None,1,2022-07-19 22:57:40
...,...,...,...,...,...,...,...,...,...,...
172330,173617,<#>BofA: DO NOT share this code. We will NEVER...,714,None,SMS,723975463417806080,0,None,0,2023-12-11 00:17:43
172329,173616,None,714,None,SMS,723975437067718016,0,None,0,2023-12-11 00:17:17
172661,173948,None,715,None,SMS,724154835351982976,0,None,0,2023-12-13 02:07:15
173089,174376,Use this one-time activation code to enroll yo...,716,None,SMS,724356231414497024,0,None,0,2023-12-15 10:03:51
173435,174723,The USPS package has arrived at the warehouse ...,717,None,iMessage,724615183733115904,0,None,0,2023-12-18 09:59:43

In [197]:
mess.columns

Index(['ROWID', 'guid', 'text', 'replace', 'service_center', 'handle_id',
       'subject', 'country', 'attributedBody', 'version', 'type', 'service',
       'account', 'account_guid', 'error', 'date', 'date_read',
       'date_delivered', 'is_delivered', 'is_finished', 'is_emote',
       'is_from_me', 'is_empty', 'is_delayed', 'is_auto_reply', 'is_prepared',
       'is_read', 'is_system_message', 'is_sent', 'has_dd_results',
       'is_service_message', 'is_forward', 'was_downgraded', 'is_archive',
       'cache_has_attachments', 'cache_roomnames', 'was_data_detected',
       'was_deduplicated', 'is_audio_message', 'is_played', 'date_played',
       'item_type', 'other_handle', 'group_title', 'group_action_type',
       'share_status', 'share_direction', 'is_expirable', 'expire_state',
       'message_action_type', 'message_source', 'associated_message_guid',
       'associated_message_type', 'balloon_bundle_id', 'payload_data',
       'expressive_send_style_id', 'associated_message_range_location',
       'associated_message_range_length', 'time_expressive_send_played',
       'message_summary_info', 'ck_sync_state', 'ck_record_id',
       'ck_record_change_tag', 'destination_caller_id', 'sr_ck_sync_state',
       'sr_ck_record_id', 'sr_ck_record_change_tag', 'is_corrupt',
       'reply_to_guid', 'sort_id', 'is_spam', 'has_unseen_mention',
       'thread_originator_guid', 'thread_originator_part',
       'syndication_ranges', 'was_delivered_quietly', 'did_notify_recipient',
       'synced_syndication_ranges', 'date_retracted', 'date_edited',
       'was_detonated', 'part_count', 'is_stewie', 'is_kt_verified'],
      dtype='object')

In [196]:
mess = pd.read_sql_query("select * from message", conn)
mess

,ROWID,guid,text,replace,service_center,handle_id,subject,country,attributedBody,version,...,syndication_ranges,was_delivered_quietly,did_notify_recipient,synced_syndication_ranges,date_retracted,date_edited,was_detonated,part_count,is_stewie,is_kt_verified
0,1,B6E22420-1255-4642-9CAB-F646FC568C00,If haley send cc to my house over the next few...,0,None,1,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
1,2,93F3F991-002E-43FB-B128-DA43F5D7ABC7,Okok got it,0,None,1,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
2,3,C62EB0E4-F138-4FE2-9220-8E656685DFC6,￼￼￼￼,0,None,2,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
3,4,9957C675-F9D8-48B2-AAFD-BC2985E00942,😉,0,None,2,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
4,5,D1AE6D88-2933-4820-AD4F-B2B39791A306,https://spice.fsi.stanford.edu/fellowship/chin...,0,None,3,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174647,175936,21C0F971-3545-4E02-8B45-007D9705D3CC,None,0,None,167,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174648,175937,DADCC39D-D7AD-5357-20A0-2CC8D64AE5B0,"Something like, ""in previous years praise team...",0,None,167,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174649,175938,907E6778-402D-4B98-A7CC-B7276711348B,None,0,None,167,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174650,175939,753FC4C5-185C-407D-AE32-D1C794B683EA,How do you write a cover letter,0,None,2,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0
174651,175940,FBEECDAE-8060-4B6F-8609-6820CBED5002,None,0,None,3,None,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,10,...,None,0,0,None,0,0,0,1.0,0,0

In [10]:
conn = sqlite3.connect('/Users/joycehu/Library/Messages/chat.db')
cur = conn.cursor()

# get handles df
handles = pd.read_sql_query("select * from handle", conn)
handles.head()

,ROWID,id,country,service,uncanonicalized_id,person_centric_id
0,1,+15107378796,US,iMessage,None,c1b59049-da23-476e-aebb-b2e812e48ace
1,2,+15105094802,US,iMessage,None,695bc869-6313-4c1f-b0fe-b9ce9e748742
2,3,+15107095002,US,iMessage,5107095002,0d542d99-cbf5-4254-8c2c-0a929173c7da
3,4,+15107095003,US,iMessage,None,5186b1b7-8016-41db-97d2-130f245f2415
4,5,+16197464242,US,iMessage,None,a5322507-1b30-431d-9ce5-f379526e232a

In [239]:
messages.iloc[174649]['attributedBody']

b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84\x84\x84\x19NSMutableAttributedString\x00\x84\x84\x12NSAttributedString\x00\x84\x84\x08NSObject\x00\x85\x92\x84\x84\x84\x0fNSMutableString\x01\x84\x84\x08NSString\x01\x95\x84\x01+\x11ahh oki thank you\x86\x84\x02iI\x01\x11\x92\x84\x84\x84\x0cNSDictionary\x00\x95\x84\x01i\x01\x92\x84\x98\x98\x1d__kIMMessagePartAttributeName\x86\x92\x84\x84\x84\x08NSNumber\x00\x84\x84\x07NSValue\x00\x95\x84\x01*\x84\x9b\x9b\x00\x86\x86\x86'

In [251]:
# get messages

# rowid, text, handle_id, subject, service, date, date_read, date_delivered, is_audio_message, group_title
keep_cols = ['ROWID', 'text', 'attributedBody','handle_id', 'other_handle','subject', 'service', 'date', 'is_audio_message', 'group_title', 'is_sent','is_emote']

# Construct the SQL query with the specified columns
query = f'''
    SELECT {', '.join(keep_cols)},
           datetime(date/1000000000 + strftime("%s", "2001-01-01"), "unixepoch", "localtime") AS date_utc
    FROM message
'''

messages = pd.read_sql_query(query, conn)

# convert date to datetime 
messages

,ROWID,text,attributedBody,handle_id,other_handle,subject,service,date,is_audio_message,group_title,is_sent,is_emote,date_utc
0,1,If haley send cc to my house over the next few...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,0,None,iMessage,567238093000000000,0,None,1,0,2018-12-22 22:08:13
1,2,Okok got it,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,0,None,iMessage,567238246000000000,0,None,0,0,2018-12-22 22:10:46
2,3,￼￼￼￼,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,0,None,iMessage,567486800000000000,0,None,1,0,2018-12-25 19:13:20
3,4,😉,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,0,None,iMessage,567487648000000000,0,None,0,0,2018-12-25 19:27:28
4,5,https://spice.fsi.stanford.edu/fellowship/chin...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,3,0,None,iMessage,567926776000000000,0,None,1,0,2018-12-30 21:26:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174647,175936,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,167,0,None,SMS,725765492567414528,0,None,1,0,2023-12-31 17:31:32
174648,175937,"Something like, ""in previous years praise team...",b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,167,0,None,SMS,725765601356318976,0,None,0,0,2023-12-31 17:33:21
174649,175938,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,167,0,None,SMS,725765618502231936,0,None,1,0,2023-12-31 17:33:38
174650,175939,How do you write a cover letter,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,0,None,iMessage,725766475703421568,0,None,0,0,2023-12-31 17:47:55
174651,175940,None,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,3,0,None,iMessage,725772773916999808,0,None,1,0,2023-12-31 19:32:53

In [252]:
# match handle_id to phone number 
messages.rename(columns={'ROWID' : 'message_id'}, inplace = True)
handles.rename(columns={'id' : 'phone_number', 'ROWID': 'handle_id'}, inplace = True)
merge_handle = pd.merge(messages[['text', 'attributedBody','handle_id', 'date_utc','subject', 'service','is_audio_message','group_title', 'message_id', 'is_sent','is_emote']],  handles[['handle_id', 'phone_number']], on ='handle_id', how='left')

merge_handle.head()

,text,attributedBody,handle_id,date_utc,subject,service,is_audio_message,group_title,message_id,is_sent,is_emote,phone_number
0,If haley send cc to my house over the next few...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,2018-12-22 22:08:13,None,iMessage,0,None,1,1,0,+15107378796
1,Okok got it,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,2018-12-22 22:10:46,None,iMessage,0,None,2,0,0,+15107378796
2,￼￼￼￼,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,2018-12-25 19:13:20,None,iMessage,0,None,3,1,0,+15105094802
3,😉,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,2018-12-25 19:27:28,None,iMessage,0,None,4,0,0,+15105094802
4,https://spice.fsi.stanford.edu/fellowship/chin...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,3,2018-12-30 21:26:16,None,iMessage,0,None,5,1,0,+15107095002

In [253]:
# get the chat to message mapping
chat_message_joins = pd.read_sql_query("select * from chat_message_join", conn)
# and join back to the merge_level_1 table
chat_merge = pd.merge(merge_handle, chat_message_joins[['chat_id', 'message_id']], on = 'message_id', how='left')
chat_merge.head()

,text,attributedBody,handle_id,date_utc,subject,service,is_audio_message,group_title,message_id,is_sent,is_emote,phone_number,chat_id
0,If haley send cc to my house over the next few...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,2018-12-22 22:08:13,None,iMessage,0,None,1,1,0,+15107378796,1.0
1,Okok got it,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,2018-12-22 22:10:46,None,iMessage,0,None,2,0,0,+15107378796,1.0
2,￼￼￼￼,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,2018-12-25 19:13:20,None,iMessage,0,None,3,1,0,+15105094802,2.0
3,😉,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,2018-12-25 19:27:28,None,iMessage,0,None,4,0,0,+15105094802,2.0
4,https://spice.fsi.stanford.edu/fellowship/chin...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,3,2018-12-30 21:26:16,None,iMessage,0,None,5,1,0,+15107095002,3.0

In [247]:
'''
takes in encrypted attributedBody text and returns the decrypted string
'''
def convert_to_text(attributedBody):
    data = attributedBody
    typedstream.unarchive_from_data(data)

    # unarchive data
    unarchived_data = typedstream.unarchive_from_data(data)

    # access contents of GenericArchivedObject
    contents = unarchived_data.contents

    return contents[0].value.value

In [262]:
texts[texts['chat_id']==87]

,text,attributedBody,handle_id,subject,service,is_audio_message,group_title,message_id,is_sent,is_emote,phone_number,chat_id,sender,timestamp,date,month,year
52552,thank goodness we have all apples,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,82,None,iMessage,0,shlumps,53756,0,0,+18583806907,87.0,+18583806907,2020-11-01 17:37:36,2020-11-01,11,2020
52555,yus,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,88,None,iMessage,0,shlumps,53759,0,0,+15628812881,87.0,Justin Kim,2020-11-01 17:39:08,2020-11-01,11,2020
52557,yus,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,87,None,iMessage,0,shlumps,53761,0,0,+15309027223,87.0,Darren Wong,2020-11-01 20:17:34,2020-11-01,11,2020
52558,￼,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,83,None,iMessage,0,shlumps,53762,0,0,+18584445249,87.0,Pauline Hsu,2020-11-01 20:17:44,2020-11-01,11,2020
52559,￼,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,88,None,iMessage,0,shlumps,53763,0,0,+15628812881,87.0,Justin Kim,2020-11-01 20:20:43,2020-11-01,11,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107538,￼i neeko carry,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,0,None,iMessage,0,schlumps,108760,1,0,NaN,87.0,NaN,2022-02-16 00:36:04,2022-02-16,2,2022
107539,shoot,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,99,None,iMessage,0,schlumps,108761,0,0,+16264266348,87.0,Yolanda Mai,2022-02-16 00:36:13,2022-02-16,2,2022
107540,they ff >:),b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,0,None,iMessage,0,schlumps,108762,1,0,NaN,87.0,NaN,2022-02-16 00:36:34,2022-02-16,2,2022
107767,all the schlumps be dating :o,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,0,None,iMessage,0,schlumps,108989,1,0,NaN,87.0,NaN,2022-02-16 19:50:51,2022-02-16,2,2022
107780,:0,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,87,None,iMessage,0,schlumps,109002,0,0,+15309027223,87.0,Darren Wong,2022-02-16 21:38:26,2022-02-16,2,2022

In [261]:
texts[texts['attributedBody'].isna()]['chat_id'].value_counts()

87.0     25
217.0    19
150.0    17
36.0     13
55.0     10
         ..
57.0      1
30.0      1
38.0      1
27.0      1
544.0     1
Name: chat_id, Length: 71, dtype: int64

In [254]:
# match phone number to sender name
texts = pd.merge(chat_merge, contacts, on ='phone_number', how='left')

# use 'name' if available, otherwise use 'phone_number'
texts['sender'] = texts['full_name'].fillna(texts['phone_number'])

# fixing issue where group titles don't always transfer 
texts['group_title'] = texts.groupby('chat_id')['group_title'].transform(lambda x: x.ffill().bfill())
# adding dates
texts['timestamp'] = texts['date_utc'].apply(lambda x: pd.Timestamp(x))
texts['date'] = texts['timestamp'].apply(lambda x: x.date())
texts['month'] = texts['timestamp'].apply(lambda x: int(x.month))
texts['year'] = texts['timestamp'].apply(lambda x: int(x.year))

# convert attributedBody text for text rows w/ na


# clean df
drop_cols = ['first', 'last', 'full_name', 'number', 'date_utc']
texts = texts.drop(drop_cols, axis=1)


texts.head()

,text,attributedBody,handle_id,subject,service,is_audio_message,group_title,message_id,is_sent,is_emote,phone_number,chat_id,sender,timestamp,date,month,year
0,If haley send cc to my house over the next few...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,None,iMessage,0,None,1,1,0,+15107378796,1.0,Christine Du,2018-12-22 22:08:13,2018-12-22,12,2018
1,Okok got it,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,1,None,iMessage,0,None,2,0,0,+15107378796,1.0,Christine Du,2018-12-22 22:10:46,2018-12-22,12,2018
2,￼￼￼￼,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,None,iMessage,0,None,3,1,0,+15105094802,2.0,Ginger Hu,2018-12-25 19:13:20,2018-12-25,12,2018
3,😉,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,2,None,iMessage,0,None,4,0,0,+15105094802,2.0,Ginger Hu,2018-12-25 19:27:28,2018-12-25,12,2018
4,https://spice.fsi.stanford.edu/fellowship/chin...,b'\x04\x0bstreamtyped\x81\xe8\x03\x84\x01@\x84...,3,None,iMessage,0,None,5,1,0,+15107095002,3.0,Ocean Hu,2018-12-30 21:26:16,2018-12-30,12,2018

# analysis !

- top 5 ppl i text all time
- top 5 this month
- top 5 this year
- ppl i text the most
- ppl who texts me the most\

In [144]:
'''
get the top 5 people you text of all time
'''
def all_time():
    all_time = texts.groupby('handle_id').count().sort_values('is_sent', ascending=False)

'\nget the top 5 people you text of all time\n'

In [142]:
texts[texts['handle_id'] == 4]

,text,handle_id,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender,timestamp,date,month,year
11,到了，很好，小心開車,4,None,iMessage,0,Dad and girls,12,0,+15107095003,4.0,Grace Shen,2019-01-01 18:08:47,2019-01-01,1,2019
13,慢慢開，想到就累,4,None,iMessage,0,Dad and girls,14,0,+15107095003,4.0,Grace Shen,2019-01-01 22:47:35,2019-01-01,1,2019
15,睡覺吧,4,None,iMessage,0,Dad and girls,16,0,+15107095003,4.0,Grace Shen,2019-01-02 01:33:02,2019-01-02,1,2019
18,Ok. 再看看吧,4,None,iMessage,0,Dad and girls,19,0,+15107095003,4.0,Grace Shen,2019-01-02 09:27:09,2019-01-02,1,2019
19,要去C&L,4,None,iMessage,0,None,20,1,+15107095003,5.0,Grace Shen,2019-01-03 15:33:57,2019-01-03,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174088,有吧,4,None,iMessage,0,everyone should come home,175346,0,+15107095003,36.0,Grace Shen,2023-12-25 23:06:47,2023-12-25,12,2023
174209,None,4,None,iMessage,0,None,175467,1,+15107095003,5.0,Grace Shen,2023-12-27 10:44:18,2023-12-27,12,2023
174225,None,4,None,iMessage,0,None,175483,1,+15107095003,5.0,Grace Shen,2023-12-27 12:12:42,2023-12-27,12,2023
174306,Liked an image,4,None,iMessage,0,everyone should come home,175564,0,+15107095003,36.0,Grace Shen,2023-12-28 00:33:50,2023-12-28,12,2023
174307,So don’t go😆,4,None,iMessage,0,everyone should come home,175565,0,+15107095003,36.0,Grace Shen,2023-12-28 00:34:06,2023-12-28,12,2023

In [143]:
this_year = texts[(texts['year'] == 2023)]
this_year.groupby('handle_id').count().sort_values('text', ascending= False)

,text,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender,timestamp,date,month,year
handle_id,,,,,,,,,,,,,,
508,13141,0,14454,14454,0,14454,14454,14454,14454,14454,14454,14454,14454,14454
2,3068,1,3193,3193,1042,3193,3193,3193,3193,3193,3193,3193,3193,3193
0,1372,0,1468,1468,1159,1468,1468,0,1435,0,1468,1468,1468,1468
59,1372,0,1409,1409,354,1409,1409,1409,1405,1409,1409,1409,1409,1409
129,1247,0,1901,1901,0,1901,1901,1901,1901,1901,1901,1901,1901,1901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,0,0,1,1,0,1,1,1,1,1,1,1,1,1
711,0,0,1,1,0,1,1,1,1,1,1,1,1,1
405,0,0,1,1,0,1,1,1,1,1,1,1,1,1
715,0,0,1,1,0,1,1,1,1,1,1,1,1,1
694,0,0,1,1,0,1,1,1,1,1,1,1,1,1

In [135]:
this_month = texts[(texts['year'] == 2023) & (texts['month'] == 12)]
this_month.groupby('handle_id').count().sort_values('text', ascending= False)

,text,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender,timestamp,date,month,year
handle_id,,,,,,,,,,,,,,
508,807,0,1270,1270,0,1270,1270,1270,1270,1270,1270,1270,1270,1270
129,533,0,924,924,0,924,924,924,924,924,924,924,924,924
2,287,0,369,369,60,369,369,369,369,369,369,369,369,369
4,83,0,87,87,85,87,87,87,87,87,87,87,87,87
0,51,0,81,81,67,81,81,0,81,0,81,81,81,81
599,38,0,59,59,5,59,59,59,59,59,59,59,59,59
3,38,0,38,38,38,38,38,38,38,38,38,38,38,38
698,36,0,36,36,36,36,36,36,36,36,36,36,36,36
376,27,0,28,28,0,28,28,28,28,28,28,28,28,28
690,27,0,31,31,0,31,31,31,31,31,31,31,31,31
169,26,0,43,43,0,43,43,43,43,43,43,43,43,43
707,26,0,26,26,26,26,26,26,26,26,26,26,26,26
699,19,0,19,19,19,19,19,19,19,19,19,19,19,19
695,13,0,13,13,0,13,13,13,13,13,13,13,13,13
167,9,0,101,101,0,101,101,101,101,101,101,101,101,101
346,8,0,8,8,0,8,8,8,8,8,8,8,8,8
59,7,0,16,16,0,16,16,16,16,16,16,16,16,16
299,7,0,7,7,0,7,7,7,7,7,7,7,7,7
192,6,0,11,11,0,11,11,11,11,11,11,11,11,11
697,6,0,6,6,6,6,6,6,6,6,6,6,6,6
161,5,0,12,12,0,12,12,12,12,12,12,12,12,12
688,5,0,5,5,0,5,5,5,5,5,5,5,5,5
500,4,0,4,4,0,4,4,4,4,4,4,4,4,4
708,4,0,6,6,0,6,6,6,6,6,6,6,6,6
714,3,0,4,4,0,4,4,4,4,4,4,4,4,4
520,3,0,9,9,0,9,9,9,9,9,9,9,9,9
645,3,0,3,3,0,3,3,3,3,3,3,3,3,3
330,3,0,8,8,0,8,8,8,8,8,8,8,8,8
495,2,0,4,4,0,4,4,4,4,4,4,4,4,4
615,2,0,4,4,0,4,4,4,4,4,4,4,4,4
276,2,0,4,4,0,4,4,4,4,4,4,4,4,4
203,2,0,3,3,0,3,3,3,3,3,3,3,3,3
196,2,0,3,3,0,3,3,3,3,3,3,3,3,3
164,2,0,25,25,0,25,25,25,25,25,25,25,25,25
144,2,0,2,2,0,2,2,2,2,2,2,2,2,2
713,1,0,1,1,0,1,1,1,1,1,1,1,1,1
712,1,0,1,1,0,1,1,1,1,1,1,1,1,1
710,1,0,1,1,0,1,1,1,1,1,1,1,1,1
716,1,0,1,1,0,1,1,1,1,1,1,1,1,1
83,1,0,1,1,0,1,1,1,1,1,1,1,1,1
526,1,1,1,1,0,1,1,1,1,1,1,1,1,1
709,1,0,1,1,0,1,1,1,1,1,1,1,1,1
717,1,0,1,1,0,1,1,1,1,1,1,1,1,1
670,0,0,1,1,0,1,1,1,1,1,1,1,1,1
661,0,0,1,1,0,1,1,1,1,1,1,1,1,1
277,0,0,1,1,0,1,1,1,1,1,1,1,1,1
715,0,0,1,1,0,1,1,1,1,1,1,1,1,1
166,0,0,12,12,0,12,12,12,12,12,12,12,12,12

In [164]:
texts.groupby('handle_id').count().sort_values('is_sent', ascending=False)

,text,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender,timestamp,date,month,year
handle_id,,,,,,,,,,,,,,
59,37780,7,37831,37831,486,37831,37831,37831,37822,37831,37831,37831,37831,37831
508,20023,1,21337,21337,0,21337,21337,21337,21337,21337,21337,21337,21337,21337
23,12957,0,12965,12965,890,12965,12965,12965,12962,12965,12965,12965,12965,12965
99,9647,0,9751,9751,4934,9751,9751,9751,9673,9751,9751,9751,9751,9751
0,9158,0,9576,9576,7310,9576,9576,0,9266,0,9576,9576,9576,9576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,1,0,1,1,0,1,1,1,1,1,1,1,1,1
489,1,0,1,1,0,1,1,1,1,1,1,1,1,1
491,1,0,1,1,0,1,1,1,1,1,1,1,1,1
494,1,0,1,1,0,1,1,1,1,1,1,1,1,1
717,1,0,1,1,0,1,1,1,1,1,1,1,1,1

In [163]:
all_time = texts.groupby('handle_id').count().sort_values('is_sent', ascending=False)
top_5 = all_time.iloc[0:5].reset_index()['handle_id'].to_list()
for handle_id in top_5:
    print(texts[texts['handle_id'] == handle_id].iloc[0]['sender'])

Hezzy Crawford
Micah Barreyro
Anannya Deshmukh
Yolanda Mai
nan

In [170]:
handles

,handle_id,phone_number,country,service,uncanonicalized_id,person_centric_id
0,1,+15107378796,US,iMessage,None,c1b59049-da23-476e-aebb-b2e812e48ace
1,2,+15105094802,US,iMessage,None,695bc869-6313-4c1f-b0fe-b9ce9e748742
2,3,+15107095002,US,iMessage,5107095002,0d542d99-cbf5-4254-8c2c-0a929173c7da
3,4,+15107095003,US,iMessage,None,5186b1b7-8016-41db-97d2-130f245f2415
4,5,+16197464242,US,iMessage,None,a5322507-1b30-431d-9ce5-f379526e232a
...,...,...,...,...,...,...
708,713,+18773124302,US,SMS,+18773124302,None
709,714,41021,US,SMS,41021,None
710,715,+18772319448,US,SMS,+18772319448,None
711,716,60969,US,SMS,60969,None
712,717,leop1nunez@hotmail.com,US,iMessage,None,None

In [169]:
handles[handles['handle_id'] == 0]

Empty DataFrame
Columns: [handle_id, phone_number, country, service, uncanonicalized_id, person_centric_id]
Index: []

In [166]:
texts[texts['handle_id'] == 0]#.iloc[0]['sender']

,text,handle_id,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender,timestamp,date,month,year
245,我今天就不要去track了,0,None,iMessage,0,None,246,1,NaN,7.0,NaN,2019-01-10 13:42:00,2019-01-10,1,2019
255,None,0,None,iMessage,0,NaN,256,0,NaN,NaN,NaN,2019-01-11 23:03:28,2019-01-11,1,2019
256,None,0,None,iMessage,0,NaN,257,0,NaN,NaN,NaN,2019-01-11 23:03:28,2019-01-11,1,2019
257,None,0,None,iMessage,0,NaN,258,0,NaN,NaN,NaN,2019-01-11 23:03:28,2019-01-11,1,2019
258,None,0,None,iMessage,0,NaN,259,0,NaN,NaN,NaN,2019-01-11 23:03:28,2019-01-11,1,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174482,MY NESPRESSO IS HERE,0,None,iMessage,0,everyone should come home,175740,1,NaN,36.0,NaN,2023-12-29 11:35:12,2023-12-29,12,2023
174484,nono,0,None,iMessage,0,everyone should come home,175742,1,NaN,36.0,NaN,2023-12-29 11:39:34,2023-12-29,12,2023
174485,i open,0,None,iMessage,0,everyone should come home,175743,1,NaN,36.0,NaN,2023-12-29 11:39:36,2023-12-29,12,2023
174505,None,0,None,SMS,0,None,175763,1,NaN,179.0,NaN,2023-12-29 15:54:58,2023-12-29,12,2023
174506,None,0,None,SMS,0,None,175764,1,NaN,179.0,NaN,2023-12-29 15:55:13,2023-12-29,12,2023

In [109]:
texts[texts['chat_id'] == 36]

,text,handle_id,date_utc,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender
4612,￼The Monarch Cave Ruins,3,2019-08-24 12:14:04,None,iMessage,0,None,4879,0,+15107095002,36.0,Ocean Hu
4965,My package is in the mailbox please get it,2,2019-09-04 12:00:47,None,iMessage,0,None,5581,0,+15105094802,36.0,Ginger Hu
4966,￼,3,2019-09-04 12:03:20,None,iMessage,0,None,5582,0,+15107095002,36.0,Ocean Hu
4967,Yay,2,2019-09-04 12:03:42,None,iMessage,0,None,5583,0,+15105094802,36.0,Ginger Hu
5137,￼,0,2019-09-12 11:30:24,None,iMessage,0,None,5897,1,NaN,36.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
174314,yes,3,2023-12-28 08:46:50,None,iMessage,0,None,175572,0,+15107095002,36.0,Ocean Hu
174482,MY NESPRESSO IS HERE,0,2023-12-29 11:35:12,None,iMessage,0,None,175740,1,NaN,36.0,NaN
174483,I took it. Can I open it? Mileage?,3,2023-12-29 11:36:02,None,iMessage,0,None,175741,0,+15107095002,36.0,Ocean Hu
174484,nono,0,2023-12-29 11:39:34,None,iMessage,0,None,175742,1,NaN,36.0,NaN
174485,i open,0,2023-12-29 11:39:36,None,iMessage,0,None,175743,1,NaN,36.0,NaN

In [111]:
texts[texts['group_title'] == 'everyone should come home']

,text,handle_id,date_utc,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender
4612,￼The Monarch Cave Ruins,3,2019-08-24 12:14:04,None,iMessage,0,everyone should come home,4879,0,+15107095002,36.0,Ocean Hu
4965,My package is in the mailbox please get it,2,2019-09-04 12:00:47,None,iMessage,0,everyone should come home,5581,0,+15105094802,36.0,Ginger Hu
4966,￼,3,2019-09-04 12:03:20,None,iMessage,0,everyone should come home,5582,0,+15107095002,36.0,Ocean Hu
4967,Yay,2,2019-09-04 12:03:42,None,iMessage,0,everyone should come home,5583,0,+15105094802,36.0,Ginger Hu
5137,￼,0,2019-09-12 11:30:24,None,iMessage,0,everyone should come home,5897,1,NaN,36.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
174314,yes,3,2023-12-28 08:46:50,None,iMessage,0,everyone should come home,175572,0,+15107095002,36.0,Ocean Hu
174482,MY NESPRESSO IS HERE,0,2023-12-29 11:35:12,None,iMessage,0,everyone should come home,175740,1,NaN,36.0,NaN
174483,I took it. Can I open it? Mileage?,3,2023-12-29 11:36:02,None,iMessage,0,everyone should come home,175741,0,+15107095002,36.0,Ocean Hu
174484,nono,0,2023-12-29 11:39:34,None,iMessage,0,everyone should come home,175742,1,NaN,36.0,NaN
174485,i open,0,2023-12-29 11:39:36,None,iMessage,0,everyone should come home,175743,1,NaN,36.0,NaN

In [113]:
texts['group_title'].isna().sum()

174623

In [115]:
texts['group_title'].isna().sum()

135961

In [114]:
texts['group_title'] = texts.groupby('chat_id')['group_title'].transform(lambda x: x.ffill().bfill())
texts

,text,handle_id,date_utc,subject,service,is_audio_message,group_title,message_id,is_sent,phone_number,chat_id,sender
0,If haley send cc to my house over the next few...,1,2018-12-22 22:08:13,None,iMessage,0,None,1,1,+15107378796,1.0,Christine Du
1,Okok got it,1,2018-12-22 22:10:46,None,iMessage,0,None,2,0,+15107378796,1.0,Christine Du
2,￼￼￼￼,2,2018-12-25 19:13:20,None,iMessage,0,None,3,1,+15105094802,2.0,Ginger Hu
3,😉,2,2018-12-25 19:27:28,None,iMessage,0,None,4,0,+15105094802,2.0,Ginger Hu
4,https://spice.fsi.stanford.edu/fellowship/chin...,3,2018-12-30 21:26:16,None,iMessage,0,None,5,1,+15107095002,3.0,Ocean Hu
...,...,...,...,...,...,...,...,...,...,...,...,...
174677,None,167,2023-12-31 17:31:18,None,SMS,0,None,175935,0,+14156507168,175.0,Serena Spada
174678,None,167,2023-12-31 17:31:32,None,SMS,0,None,175936,1,+14156507168,175.0,Serena Spada
174679,"Something like, ""in previous years praise team...",167,2023-12-31 17:33:21,None,SMS,0,None,175937,0,+14156507168,175.0,Serena Spada
174680,None,167,2023-12-31 17:33:38,None,SMS,0,None,175938,1,+14156507168,175.0,Serena Spada
174681,How do you write a cover letter,2,2023-12-31 17:47:55,None,iMessage,0,None,175939,0,+15105094802,2.0,Ginger Hu